<div class="dental-tourism-tourists-area pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-tourists-image">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-6">
                            <div class="tourists-image">
                                <img src="assets/images/dental-tourism/tourists/mexico.jpg" alt="image">
                                <div class="content">
                                    <h3>Mexico</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-6">
                            <div class="tourists-image">
                                <img src="assets/images/dental-tourism/tourists/colombia.jpg" alt="image">
                                <div class="content">
                                    <h3>Colombia</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-6">
                            <div class="tourists-image">
                                <img src="assets/images/dental-tourism/tourists/spain.jpg" alt="image">
                                <div class="content">
                                    <h3>Spain</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-6">
                            <div class="tourists-image">
                                <img src="assets/images/dental-tourism/tourists/malaysia.jpg" alt="image">
                                <div class="content">
                                    <h3>Malaysia</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-6">
                            <div class="tourists-image">
                                <img src="assets/images/dental-tourism/tourists/thailand.jpg" alt="image">
                                <div class="content">
                                    <h3>Thailand</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-6">
                            <div class="tourists-image">
                                <img src="assets/images/dental-tourism/tourists/turkey.jpg" alt="image">
                                <div class="content">
                                    <h3>Turkey</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-tourists-content">
                    <h2>Popular Destinations for Dental Tourists</h2>
                    <p>Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi pretium ut lacinia in elementum enim.</p>
                    <ul class="list">
                        <li><i class='bx bxs-check-shield'></i> Upgraded their facilities and equipment</li>
                        <li><i class='bx bxs-check-shield'></i> 24 x 7 Personal client relationship manager</li>
                        <li><i class='bx bxs-check-shield'></i> Donec rutrum congue leo eget malesuada</li>
                        <li><i class='bx bxs-check-shield'></i> Life time warranties on all treatments</li>
                        <li><i class='bx bxs-check-shield'></i> Nulla quis lorem ut libero malesuada feugiat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>