<div class="covid-protection-area ptb-100 bg-f1f5fe">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="covid-protection-content">
                    <div class="content">
                        <span class="sub-title">Self-Protection</span>
                        <h2>Preparation Before Covid-19 Vaccination</h2>
                    </div>
                    <div class="protection-faq-accordion">
                        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                            <accordion-group heading="Avoid Alcoholic Beverages">
                                <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut ali xercitation ullamco Lorem ipsum dolor sit amet consectetur adipisic elit sed do eiusmod tem incidid dolore magna aliqua.</p>
                            </accordion-group>
                            <accordion-group heading="Exercise or Physical Activity">
                                <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut ali xercitation ullamco Lorem ipsum dolor sit amet consectetur adipisic elit sed do eiusmod tem incidid dolore magna aliqua.</p>
                            </accordion-group>
                            <accordion-group heading="What is Personal Liability">
                                <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut ali xercitation ullamco Lorem ipsum dolor sit amet consectetur adipisic elit sed do eiusmod tem incidid dolore magna aliqua.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                    <div
                        class="covid-protection-fun-fact"
                        style="background-image: url(assets/images/covid/fun-fact-bg.jpg);"
                    >
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="fun-fact">
                                    <h3>567k</h3>
                                    <p>Vaccine Quota</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="fun-fact">
                                    <h3>1267k</h3>
                                    <p>Registered</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="fun-fact">
                                    <h3>109k</h3>
                                    <p>Recovered</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                                <div class="fun-fact">
                                    <h3>205k</h3>
                                    <p>Not Vaccinated</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="covid-protection-image"
                    style="background-image: url(assets/images/covid/protection.jpg);"
                >
                    <img src="assets/images/covid/protection.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>