<div class="eye-care-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center m-0">
            <div class="col-lg-5 col-md-12 p-0">
                <div class="eye-care-banner-content">
                    <span class="sub-title"># Eye Specialists</span>
                    <h1>You Need Eyes Care Specialists Services</h1>
                    <p>We treat patients with state-of-the-art equipment by experienced specialists and ensure the best results for our.</p>
                    <ul class="banner-btn-with-info">
                        <li class="banner-btn">
                            <a routerLink="/services" class="default-btn two">View Our Services</a>
                        </li>
                        <li><img src="assets/images/skin-care/dry/image-1.jpg" class="rounded-circle" alt="image"></li>
                        <li><img src="assets/images/skin-care/dry/image-2.jpg" class="rounded-circle" alt="image"></li>
                        <li><img src="assets/images/skin-care/dry/image-3.jpg" class="rounded-circle" alt="image"></li>
                        <li class="title">5k+ Our Patients</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 p-0">
                <div class="eye-care-banner-image">
                    <img src="assets/images/eye-care/banner/banner.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>