<!-- Page Banner -->
<div class="page-banner-area two ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Skin Care Services</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services-area bg-eff8fb pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/skin-care/services/services-1.jpg" alt="image">
                        </a>
                        <div class="icon">
                            <i class="flaticon-172-skin-care"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Skin Care
                            </a>
                        </h3>
                        <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/skin-care/services/services-2.jpg" alt="image">
                        </a>
                        <div class="icon">
                            <i class="flaticon-173-acupuncture"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Needle Mesotherapy
                            </a>
                        </h3>
                        <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/skin-care/services/services-3.jpg" alt="image">
                        </a>
                        <div class="icon">
                            <i class="flaticon-174-hair-removal"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Hair Removal
                            </a>
                        </h3>
                        <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/skin-care/services/services-4.jpg" alt="image">
                        </a>
                        <div class="icon">
                            <i class="flaticon-176-laser"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Laser Treatments
                            </a>
                        </h3>
                        <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/skin-care/services/services-5.jpg" alt="image">
                        </a>
                        <div class="icon">
                            <i class="flaticon-175-botox"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Skin Resurfacing
                            </a>
                        </h3>
                        <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-services-card">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/skin-care/services/services-6.jpg" alt="image">
                        </a>
                        <div class="icon">
                            <i class="flaticon-177-facial-treatment"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Plastic Surgery
                            </a>
                        </h3>
                        <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="pagination-area two">
                    <span class="prev page-numbers" disabled>
                        <i class='flaticon-015-left-arrow'></i>
                    </span>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/services-4" class="page-numbers">2</a>
                    <a routerLink="/services-4" class="page-numbers">3</a>
                    <a routerLink="/services-4" class="page-numbers">4</a>
                    <a routerLink="/services-4" class="page-numbers">5</a>
                    <a routerLink="/services-4" class="next page-numbers">
                        <i class='flaticon-014-right-arrow'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-partner></app-partner>
</div>