.login-form {
    padding: 50px;
    max-width: 600px;
    border-radius: 5px;
    transition: var(--transition);
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    margin: {
        left: auto;
        right: auto;
    };
    h4 {
        margin-bottom: 12px;
        font: {
            size: 25px;
            weight: 500;
        };
    }
    form {
        margin-top: 5px;

        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                margin-bottom: 10px;
                color: var(--black-color);
                font: {
                    weight: 500;
                    size: 15px;
                };
            }
            .form-control {
                background-color: transparent;
                transition: var(--transition);
                font-size: var(--font-size);
                border: 1px solid #e1e1e1;
                color: var(--black-color);
                line-height: initial;
                padding: 15px 18px;
                border-radius: 5px;
                box-shadow: unset;
                height: 55px;

                &::placeholder {
                    color: var(--paragraph-color);
                }
                &:focus {
                    border-color: var(--main-color);

                    &::placeholder {
                        color: transparent;
                        transition: var(--transition);
                    }
                }
            }
        }
        .remember-me-wrap {
            .form-check {
                margin-bottom: 0;

                .form-check-input {
                    margin-top: 0.16em;
                    box-shadow: unset !important;
        
                    &:checked {
                        background-color: var(--main-color);
                        border-color: var(--main-color);
                    }
                }
                .form-check-label {
                    color: var(--paragraph-color);
                    font-weight: normal;
                    margin-bottom: 0;
        
                    a {
                        color: var(--paragraph-color);
        
                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
        .lost-your-password-wrap {
            text-align: end;

            a {
                color: var(--black-color);
                display: inline-block;
                position: relative;
                line-height: 1.4;

                &::before {
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    content: '';
                    position: absolute;
                    background-color: #eeeeee;
                    transition: var(--transition);
                }
                &::after {
                    left: 0;
                    width: 0;
                    bottom: 0;
                    height: 1px;
                    content: '';
                    position: absolute;
                    transition: var(--transition);
                    background-color: var(--main-color);
                }
                &:hover {
                    &::before {
                        width: 0;
                    }
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
        .default-btn {
            margin-top: 20px;
            padding: {
                left: 35px;
                right: 35px;
            };
        }
        .account-text {
            margin-top: 20px;

            span {
                color: var(--paragraph-color);

                a {
                    color: var(--main-color);
                }
            }
        }
    }
    &:hover {
        border-color: var(--main-color);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .login-form {
        padding: 0;
        max-width: 100%;
        border: none !important;
        box-shadow: unset !important;
        background-color: transparent;
        
        h4 {
            margin-bottom: 10px;
            font-size: 20px;
        }
        form {
            margin-top: 0;
    
            .form-group {
                margin-bottom: 15px;
    
                label {
                    font-size: 14px;
                }
                .form-control {
                    font-size: 14px;
                    padding: 15px;
                    height: 50px;
                }
            }
            .lost-your-password-wrap {
                text-align: start;
                margin-top: 10px;
            }
            .default-btn {
                margin-top: 15px;
            }
            .account-text {
                margin-top: 15px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .login-form {
        padding: 40px;
        max-width: 600px;
        
        h4 {
            margin-bottom: 12px;
            font-size: 22px;
        }
        form {
            .form-group {
                label {
                    font-size: 14px;
                }
                .form-control {
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .login-form {
        h4 {
            font-size: 24px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}