<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(assets/images/page-title/page-title5.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>How Vaccines Work</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>How Vaccines Work</li>
            </ul>
        </div>
    </div>
</div>

<!-- How Vaccines Work -->
<div class="how-vaccines-work-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="how-vaccines-work-desc">
                    <div class="content">
                        <h3>How Do Vaccines Work?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco Lorem ipsum dolor sit am consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
                        <h3>The Body's Natural Response</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco Lorem ipsum dolor sit am consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
                    </div>
                    <div class="how-vaccines-work-image">
                        <img src="assets/images/covid/how-vaccines-work.jpg" alt="image">
                    </div>
                    <div class="content">
                        <h3>How Vaccines Help</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco Lorem ipsum dolor sit am consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud.</p>
                    </div>
                    <div class="bottom-content">
                        <a routerLink="/">Read Next Topic: "How are vaccines developed?”</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="how-vaccines-work-sidebar">
                    <div class="sidebar-box">
                        <h3>Related</h3>
                        <ul class="list">
                            <li>
                                <a routerLink="/">COVAX</a>
                            </li>
                            <li>
                                <a routerLink="/">COVID-19 Vaccines Multimeda</a>
                            </li>
                            <li>
                                <a routerLink="/">COVID-19</a>
                            </li>
                            <li>
                                <a routerLink="/">ACT-Accelerator</a>
                            </li>
                            <li>
                                <a routerLink="/">COVID-19 Vaccines</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-box">
                        <h3>Resources</h3>
                        <ul class="list">
                            <li>
                                <a routerLink="/">How do Vaccines Work</a>
                            </li>
                            <li>
                                <a routerLink="/">How do Vaccines Work: Bangla</a>
                            </li>
                            <li>
                                <a routerLink="/">How do Vaccines Work: English</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>