<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(assets/images/hospital/page-banner/bg-3.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Portfolio</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Portfolio</li>
            </ul>
        </div>
    </div>
</div>

<!-- Portfolio -->
<div class="portfolio-area ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio1.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Modern Medicine
                            </a>
                        </h3>
                        <span>Medical</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio2.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Bariatric Surgery
                            </a>
                        </h3>
                        <span>Surgery</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio3.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Medical Scanner
                            </a>
                        </h3>
                        <span>Research</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio4.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Haert Transplant
                            </a>
                        </h3>
                        <span>Surgery</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio5.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Complete Surgery
                            </a>
                        </h3>
                        <span>Service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio6.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Remote Operations
                            </a>
                        </h3>
                        <span>Education</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio7.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Ventilator Monitor
                            </a>
                        </h3>
                        <span>Medical</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio8.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Neurology Surgeon
                            </a>
                        </h3>
                        <span>Service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio1.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Modern Medicine
                            </a>
                        </h3>
                        <span>Medical</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area">
                    <span class="prev page-numbers" disabled>
                        <i class='flaticon-015-left-arrow'></i>
                    </span>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/portfolio" class="page-numbers">2</a>
                    <a routerLink="/portfolio" class="page-numbers">3</a>
                    <a routerLink="/portfolio" class="page-numbers">4</a>
                    <a routerLink="/portfolio" class="next page-numbers">
                        <i class='flaticon-014-right-arrow'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>