<div
    class="navbar-area"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8'|| router.url === '/services-4' || router.url === '/services-5' || router.url === '/services-6' || router.url === '/contact-us-2' || router.url === '/contact-us-3' || router.url === '/about-us-3' || router.url === '/doctors' || router.url === '/portfolio' || router.url === '/portfolio-details', 'sticky': isSticky}"
>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a routerLink="/" >
                <h1 [ngClass]="{'show': !isSticky}">
                    <img src="assets/images/inopro/header/inopro_header_logo_mobile.png" alt="Inopro logo"/>
                </h1>
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <ul *transloco="let t; read:'navigation'" class="navbar-nav">
                    <li class="nav-item">
                        <a  routerLink="/home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            {{t("home")}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about-us" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            {{t("about")}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/service-details-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            {{t("products")}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            {{t("contact")}}
                        </a>
                    </li>
                </ul>

                <ul *transloco="let t; read:'navigation'" class="navbar-nav for-responsive">
                    <li class="nav-item">
                        <a  routerLink="/home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                            {{t("home")}}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/about-us" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                            {{t("about")}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/service-details-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            {{t("products")}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                            {{t("contact")}}
                        </a>
                    </li>
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <a *transloco="let t; read:'buttons'"  routerLink="/service-details-2"  class="default-btn">
                            {{t("discover")}}
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

