<div class="middle-header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="middle-header">
                    <h1>
                        <a routerLink="/">
                            Inba
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <ul class="middle-header-content">
                    <li>
                        <i class="flaticon-039-emergency-call"></i>
                        Call Today
                        <span><a href="tel:088123654987">+088 123 654 987</a></span>
                    </li>
                    <li>
                        <i class="flaticon-040-back-in-time"></i>
                        Open Hour
                        <span>09:00 AM to 18:00 PM</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>