<div class="middle-header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="middle-header">
                    <h1>
                        <a routerLink="/home">
                            <img ngSrc="assets/images/inopro/header/inopro_header_logo.png" alt="Inopro logo"
                                 height="79" width="220"/>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <ul *transloco="let t; read:'navigation'" class="middle-header-content">
                    <li>
                        <i class="flaticon-039-emergency-call"></i>
                        {{t("call")}}
                        <span><a href="tel:514-792-5440">514-792-5440</a></span>
                    </li>
                    <li>
                        <i class="flaticon-040-back-in-time"></i>
                        {{t("hours")}}
                        <span>09:00 AM to 18:00 PM</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
