<!-- Page Banner -->
<div class="covid-page-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="covid-page-banner-content">
                    <h3>Contact Us</h3>
                    <ul class="list">
                        <li>
                            <a routerLink="/index-7">
                                Home
                            </a>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="covid-page-banner-image">
                    <img src="assets/images/covid/page-banner.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Information -->
<div class="covid-information-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="covid-info-card">
                    <div class="icon">
                        <i class='bx bx-map'></i>
                    </div>
                    <h3>Our Location:</h3>
                    <p>35 West Dental Street Nyz California 1004</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-info-card">
                    <div class="icon">
                        <i class='bx bx-send'></i>
                    </div>
                    <h3>Email Address:</h3>
                    <p><a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a></p>
                    <p><a href="mail:support&#64;inba.com">support&#64;inba.com</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-info-card">
                    <div class="icon">
                        <i class='bx bxs-phone-call'></i>
                    </div>
                    <h3>Phone Number:</h3>
                    <span>
                    </span>
                    <p><a href="tel:01321654214">+01 321 654 214</a></p>
                    <p><a href="tel:628148911562">(+62)81 4891 1562</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-info-card">
                    <div class="icon">
                        <i class='bx bx-calendar'></i>
                    </div>
                    <h3>Open Hour:</h3>
                    <p>09:00 AM to 18:00 PM</p>
                    <p>Sunday to Thursday</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="covid-contact-area pb-100">
    <div class="container">
        <div class="section-title with-covid-color">
            <h2>Get In Touch</h2>
        </div>
        <div class="covid-contact-form">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Your Email</label>

                            <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your email">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Your Phone</label>

                            <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Your phone">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <label>Subject</label>

                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Message</label>

                            <textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="Write your message" placeholder="Your message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <button type="submit" class="default-btn">
                            Send Message
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>