<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(assets/images/hospital/page-banner/bg-2.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Service Details</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Service Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Service Details -->
<div class="service-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <div class="widget widget_search">
                        <form class="search-form">
                            <input type="search" class="search-field" placeholder="Search...">
                            <button type="submit">
                                <i class='bx bx-search-alt'></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widget-title">All Services</h3>
                        <ul>
                            <li><a routerLink="/services-6">Plastic Surgery</a></li>
                            <li><a routerLink="/services-6">Neurology</a></li>
                            <li><a routerLink="/services-6">Eye Care Service</a></li>
                            <li><a routerLink="/services-6">Dental Service</a></li>
                            <li><a routerLink="/services-6">Cardiology</a></li>
                            <li><a routerLink="/services-6">X- ray & RMI Service</a></li>
                        </ul>
                    </div>
                    <div class="widget widget_download_file">
                        <h3 class="widget-title">Download File</h3>
                        <ul class="download-file-list">
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="assets/images/hospital/pdf.png" alt="image">
                                    <div class="title">
                                        <h4>Service Brochure</h4>
                                        <span>PDF | 22 MB</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="assets/images/hospital/doc.png" alt="image">
                                    <div class="title">
                                        <h4>Company Profile</h4>
                                        <span>Word | 27 MB</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="widget widget_services_info"
                        style="background-image: url(assets/images/hospital/services-info.jpg);"
                    >
                        <div class="info">
                            <i class='bx bx-phone-call'></i>
                            <h4>Contact Us Free</h4>
                            <a href="tel:00874847348734">(008) 7484 7348 734</a>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout the point of using.</p>
                        <a href="#" class="default-btn">Contact Us</a>
                    </div>
                </aside>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="hospital-service-details-desc">
                    <img src="assets/images/hospital/services-details/services-details1.jpg" alt="image">
                    <div class="content">
                        <h3>Wide Range Of Facilities & Hospital Services</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        <p>To use a passage of lorem ipsum you need to be sure there isn't anything embarrassing hidden in the middle of text all the lorem ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="service-details-card">
                                <div class="number">01</div>
                                <h4>Standards Of Treatment</h4>
                                <p>It is a long established fact that a eader will be distracted by threadable.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="service-details-card">
                                <div class="number">02</div>
                                <h4>Well Communication</h4>
                                <p>It is a long established fact that a eader will be distracted by threadable.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="service-details-card">
                                <div class="number">03</div>
                                <h4>Infection Prevention</h4>
                                <p>It is a long established fact that a eader will be distracted by threadable.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="service-details-card">
                                <div class="number">04</div>
                                <h4>30+ Years Experience</h4>
                                <p>It is a long established fact that a eader will be distracted by threadable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="service-details-inner-content">
                                <h4>Medical Laboratory And Specialists Services</h4>
                                <p>Simply dummy text of the printing and typesetting industry lorem ipsum has been the industry's standard dummy.</p>
                                <ul class="list">
                                    <li><i class='bx bx-check'></i> Routine and medical care</li>
                                    <li><i class='bx bx-check'></i> Excellence in Healthcare every</li>
                                    <li><i class='bx bx-check'></i> Building a healthy environment</li>
                                    <li><i class='bx bx-check'></i> Routine and medical care</li>
                                    <li><i class='bx bx-check'></i> Excellence in Healthcare every</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="service-details-inner-image">
                                <img src="assets/images/hospital/services-details/services-details2.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h4>Health Tips & Information</h4>
                        <p>There are many variations of passages of lorem ipsum available but the majority have suffered alteration in some humour or randomised words which don't look even slightly believable if you are going to use a passage.</p>
                    </div>
                    <div class="hospital-faq-accordion">
                        <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                            <accordion-group heading="How can I book an appointment for emergency treatment?">
                                <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut ali xercitation ullamco Lorem ipsum dolor sit amet consectetur adipisic elit sed do eiusmod tem incidid dolore magna aliqua.</p>
                            </accordion-group>
                            <accordion-group heading="Do you use anesthetics for operation in your hospital?">
                                <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut ali xercitation ullamco Lorem ipsum dolor sit amet consectetur adipisic elit sed do eiusmod tem incidid dolore magna aliqua.</p>
                            </accordion-group>
                            <accordion-group heading="What is procedures of parathyroid scanning in your hospital?">
                                <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut ali xercitation ullamco Lorem ipsum dolor sit amet consectetur adipisic elit sed do eiusmod tem incidid dolore magna aliqua.</p>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>