<!-- Default Dentists Section -->
<div
    class="doctor-area pb-75"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Team
            </span>
            <h2>Contact our team</h2>
            <a routerLink="/dentists" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="assets/images/doctor/doctor-1.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <a routerLink="/dentist-details">
                                Sylvain Granger
                            </a>
                        </h3>
                        <span>514-792-5440</span>
                        <span>sgranger&#64;inopro.ca</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="assets/images/doctor/doctor-1.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <a routerLink="/dentist-details">
                                Sylvain Granger
                            </a>
                        </h3>
                        <span>514-792-5440</span>
                        <span>sgranger&#64;inopro.ca</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                    <a routerLink="/dentist-details" class="d-block">
                        <img src="assets/images/doctor/doctor-1.jpg" alt="doctor-image">
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <a routerLink="/dentist-details">
                                Rachel Auclair-Granger
                            </a>
                        </h3>
                        <span>rachelag&#64;inopro.ca</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
