<!-- Default Dentists Section -->
<div
    class="doctor-area ptb-75"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/about-us-3'}"
    style="background-image: url(assets/images/covid/tracker/map.jpg)"
>
    <div *transloco="let t; read:'contactUsPage.team'" class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{t("pill")}}
            </span>
            <h2>{{t("title")}}</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                        <img src="assets/images/doctor/doctor-1.jpg" alt="doctor-image">
                    <div class="doctor-content">
                        <h3>
                                Sylvain Granger
                        </h3>
                        <span>514-792-5440</span><br>
                        <span>sgranger&#64;inopro.ca</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                        <img src="assets/images/doctor/doctor-1.jpg" alt="doctor-image">
                    <div class="doctor-content">
                        <h3>
                                Alain Lefebvre
                        </h3>
                        <span>514-434-8481</span><br>
                        <span>alefebvre&#64;inopro.ca</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-doctor">
                        <img src="assets/images/doctor/doctor-1.jpg" alt="doctor-image">
                    <div class="doctor-content">
                        <h3>
                                Rachel Auclair-Granger
                        </h3>
                        <span>rachelag&#64;inopro.ca</span>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
