<!-- Default How It Works Section -->
<div
    class="eye-care-treatment-area pt-100"
    [ngClass]="{'d-none': router.url === '/index-7'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-treatment-image">
                    <img src="assets/images/eye-care/treatment/treatment.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-treatment-content">
                    <span class="sub-title"># How It Works</span>
                    <h2>We Carefully Manage The Treatment Of Patients</h2>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec sollicitudin molestie malesuada.</p>
                    <div class="row">
                        <div class="col-6">
                            <div class="treatment-inner-content">
                                <div class="number">1</div>
                                <p>Patient books online consult with our doctors</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="treatment-inner-content">
                                <div class="number">2</div>
                                <p>Our doctor advises on the eye treatment</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="treatment-inner-content">
                                <div class="number">3</div>
                                <p>Arrangement treatment affordable cost</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="treatment-inner-content">
                                <div class="number">4</div>
                                <p>Our team arranges trips to partner eye hospital</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- How It Works section for Home Demo - 7 -->
<div
    class="covid-process-area pt-100 bg-f1f5fe pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="section-title with-covid-color">
            <span class="sub-title">How It Works</span>
            <h2>Covid-19 Vaccine Process</h2>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-sm-6">
                <div class="covid-process-card">
                    <div class="process-image">
                        <img src="assets/images/covid/process/process1.png" alt="image">
                    </div>
                    <h3>COVID-19 Test</h3>
                    <p>Lorem ipsum dolor sit amet con ipsu eiusmod tempor incididu ut aliqu mod exercitation ullamco</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-process-card">
                    <div class="process-image">
                        <img src="assets/images/covid/process/process2.png" alt="image">
                    </div>
                    <h3>Online Consultation</h3>
                    <p>Lorem ipsum dolor sit amet con ipsu eiusmod tempor incididu ut aliqu mod exercitation ullamco</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-process-card">
                    <div class="process-image">
                        <img src="assets/images/covid/process/process3.png" alt="image">
                    </div>
                    <h3>Buy Medicine</h3>
                    <p>Lorem ipsum dolor sit amet con ipsu eiusmod tempor incididu ut aliqu mod exercitation ullamco</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-process-card">
                    <div class="process-image">
                        <img src="assets/images/covid/process/process4.png" alt="image">
                    </div>
                    <h3>Check-Up Booking</h3>
                    <p>Lorem ipsum dolor sit amet con ipsu eiusmod tempor incididu ut aliqu mod exercitation ullamco</p>
                </div>
            </div>
        </div>
    </div>
</div>