<div class="covid-check-form-area">
    <div class="container">
        <div
            class="covid-check-form-inner pt-100 pb-75"
            style="background-image: url(assets/images/covid/check-bg.jpg);"
        >
            <div class="covid-check-title d-flex justify-content-between align-items-center">
                <h3>Your Vaccination Data</h3>
                <a routerLink="/doctors">Meet The Doctor</a>
            </div>
            <div class="row justify-content-center">
                <form class="covid-check-form">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="NIK">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="form-group">
                                <div class="checkbox-check">
                                    <input type="checkbox" class="form-check-input" id="Robot1">
                                    <label class="form-check-label" for="Robot1">I am Not Robot</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <button type="submit" class="default-btn">Check Status</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>