<!-- Default Features Section -->
<div
    class="core-features-area pt-100 pb-75 bg-eef9ff"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/appointment' || router.url === '/about-us' || router.url === '/about-us-2' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Specialty and Our Features
            </span>
            <h2>Features That You Will Love Us</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-157-caduceus"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Quality Brackets
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-158-policy"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Certified Dentists
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-160-diamond-1"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Experience
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-161-hospitalisation"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Patient Care
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 2 -->
<div
    class="features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/about-us' || router.url === '/about-us-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Features
            </span>
            <h2>Our Clients are Our Priority, We Offer Quality Dental Services from Specialists</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-157-caduceus"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Quality Brackets
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-158-policy"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Certified Dentist
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-160-diamond-1"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Experience
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-161-hospitalisation"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Patient Care
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 4 -->
<div
    class="dental-tourism-features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-4' || router.url === '/appointment' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-dental-tourism-features">
                    <div class="content">
                        <div class="icon-image">
                            <img src="assets/images/dental-tourism/features/assistance.png" alt="image">
                            <div class="number">1</div>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Customer Service
                            </a>
                        </h3>
                        <p>We always provide 24/7 support to help the tourists.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-dental-tourism-features">
                    <div class="content">
                        <div class="icon-image">
                            <img src="assets/images/dental-tourism/features/travel.png" alt="image">
                            <div class="number">2</div>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Dedicated Transport
                            </a>
                        </h3>
                        <p>Our dedicated drivers provide you with affordable transportation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-dental-tourism-features">
                    <div class="content">
                        <div class="icon-image">
                            <img src="assets/images/dental-tourism/features/cost.png" alt="image">
                            <div class="number">3</div>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Lowest Prices
                            </a>
                        </h3>
                        <p>We offer all types dental treatments for tourists the lowest prices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 5 -->
<div
    class="skin-care-features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-features-card">
                    <div class="features-title">
                        <div class="icon-image">
                            <a routerLink="/service-details">
                                <img src="assets/images/skin-care/features/microscope.png" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Safety & Technology
                            </a>
                        </h3>
                    </div>
                    <p>Proin eget tortor risus vivamus suscipit tortor eget felis porttitor volutpat cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-features-card">
                    <div class="features-title">
                        <div class="icon-image">
                            <a routerLink="/service-details">
                                <img src="assets/images/skin-care/features/medical-doctor.png" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Experienced Team
                            </a>
                        </h3>
                    </div>
                    <p>Proin eget tortor risus vivamus suscipit tortor eget felis porttitor volutpat cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="skin-care-features-card">
                    <div class="features-title">
                        <div class="icon-image">
                            <a routerLink="/service-details">
                                <img src="assets/images/skin-care/features/medical-tool.png" alt="image">
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Modern Equipment
                            </a>
                        </h3>
                    </div>
                    <p>Proin eget tortor risus vivamus suscipit tortor eget felis porttitor volutpat cras ultricies ligula sed magna dictum porta.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 6 -->
<div
    class="eye-care-features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="eye-care-features-card">
                    <div class="features-image">
                        <img src="assets/images/eye-care/features/features-1.png" alt="image">
                    </div>
                    <div class="features-content">
                        <h3>
                            <a routerLink="/service-details">
                                Eye Safety First
                            </a>
                        </h3>
                        <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar lectus. Nulla quis lorem ut libero malesuada feugiat curabitur aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="eye-care-features-card">
                    <div class="features-image">
                        <img src="assets/images/eye-care/features/features-2.png" alt="image">
                    </div>
                    <div class="features-content">
                        <h3>
                            <a routerLink="/service-details">
                                Care Your Eyes
                            </a>
                        </h3>
                        <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar lectus. Nulla quis lorem ut libero malesuada feugiat curabitur aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="eye-care-features-card">
                    <div class="features-image">
                        <img src="assets/images/eye-care/features/features-3.png" alt="image">
                    </div>
                    <div class="features-content">
                        <h3>
                            <a routerLink="/service-details">
                                Check Your Eyesight
                            </a>
                        </h3>
                        <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar lectus. Nulla quis lorem ut libero malesuada feugiat curabitur aliquet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 7 -->
<div
    class="covid-vaccine-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="section-title with-covid-color">
            <span class="sub-title">World Trending</span>
            <h2>Why Should You Vaccine</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="covid-vaccine-card">
                    <div class="vaccine-image">
                        <img src="assets/images/covid/vaccine/vaccine1.png" alt="image">
                    </div>
                    <div class="vaccine-content">
                        <h3>Build Immunity</h3>
                        <p>Lorem ipsum dolor sit amet cons tod eiusmod tempor incididu.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-vaccine-card">
                    <div class="vaccine-image">
                        <img src="assets/images/covid/vaccine/vaccine2.png" alt="image">
                    </div>
                    <div class="vaccine-content">
                        <h3>Strengthen the Body's</h3>
                        <p>Lorem ipsum dolor sit amet cons tod eiusmod tempor incididu.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-vaccine-card">
                    <div class="vaccine-image">
                        <img src="assets/images/covid/vaccine/vaccine3.png" alt="image">
                    </div>
                    <div class="vaccine-content">
                        <h3>Stop Spread of Disease</h3>
                        <p>Lorem ipsum dolor sit amet cons tod eiusmod tempor incididu.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="covid-vaccine-card">
                    <div class="vaccine-image">
                        <img src="assets/images/covid/vaccine/vaccine4.png" alt="image">
                    </div>
                    <div class="vaccine-content">
                        <h3>Antibodies Protecting</h3>
                        <p>Lorem ipsum dolor sit amet cons tod eiusmod tempor incididu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>