<!-- Default Features Section -->
<div
    class="core-features-area pt-100 pb-75 bg-eef9ff"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/appointment' || router.url === '/about-us' || router.url === '/about-us-2' || router.url === '/about-us-3'}"
>
    <div *transloco="let t; read:'features'" class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{t("pill")}}
            </span>
            <h2>{{t("title")}}</h2>
            <a *transloco="let b; read:'buttons'" routerLink="/about-us" class="default-btn">{{b("about")}}</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-072-badge"></i>
                    </div>
                    <h3>
                        {{t("leader.title")}}
                    </h3>
                    <p>{{t("leader.description")}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-050-share"></i>
                    </div>
                    <h3>
                        {{t("distribution.title")}}
                    </h3>
                    <p>{{t("distribution.description")}}<br><br></p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-160-diamond-1"></i>
                    </div>
                    <h3>
                        {{t("quality.title")}}
                    </h3>
                    <p>{{t("quality.description")}}</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-037-plus"></i>
                    </div>
                    <h3>
                        {{t("service.title")}}
                    </h3>
                    <p>{{t("service.description")}}<br><br></p>
                </div>
            </div>
        </div>
    </div>
</div>
