<!-- Default Features Section -->
<div
    class="core-features-area pt-100 pb-75 bg-eef9ff"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/appointment' || router.url === '/about-us' || router.url === '/about-us-2' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                What sets us apart
            </span>
            <h2>The Inopro Group</h2>
            <a routerLink="/services" class="default-btn">About Us</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-157-caduceus"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Leader
                        </a>
                    </h3>
                    <p>The Inopro group is a leader in commercializing sterile specialized waters, renowned for its commitment to excellence and advancements.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-158-policy"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Distribution
                        </a>
                    </h3>
                    <p>The Inopro group is a global leader in commercializing innovative pharmaceutical products, setting new industry standards worldwide.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-160-diamond-1"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Quality products
                        </a>
                    </h3>
                    <p>With unwavering dedication to unparalleled quality standards, Inopro asserts its leadership in the market, earning global trust and respect.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="single-core-features">
                    <div class="icon">
                        <i class="flaticon-161-hospitalisation"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Service
                        </a>
                    </h3>
                    <p>Inopro makes the difference with personalized and impeccable customer service cementing its reputation as an industry leader.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 2 -->
<div
    class="features-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/about-us' || router.url === '/about-us-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Mission
            </span>
            <h2>Our Mission is to improve the life quality of our customers</h2>
            <p>
                With the mission to improve the life quality of its customers, Inopro Group offers a wide range of specialised sterile waters developed to meet very specific needs. Active in pharmaceutical, medical, and cosmetic fields, Inopro Group also offers its products to individuals eager to consume high quality water. Their products can be found in pharmacies and from some health experts.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-157-caduceus"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Pharmaceutical
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-158-policy"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Medical
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-160-diamond-1"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Cosmetic
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-features-box">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-161-hospitalisation"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Individuals
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
