<!-- Page Banner -->
<div class="page-banner-area two ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Eye Care Services</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>

<!-- Services -->
<div class="eye-care-services-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-180-shared-vision"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Glaucoma
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">1</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-181-eye-1"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Amblyopia
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">2</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-182-eye-2"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Strabismus
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">3</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-183-eye-3"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Astigmatism
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">4</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-180-shared-vision"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Glaucoma
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">5</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-181-eye-1"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Amblyopia
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">6</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-182-eye-2"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Strabismus
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">7</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-183-eye-3"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Astigmatism
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">8</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="eye-care-services-card">
                    <div class="icon">
                        <i class="flaticon-183-eye-3"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Astigmatism
                        </a>
                    </h3>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat.</p>
                    <a routerLink="/service-details" class="default-btn two">Learn More</a>
                    <div class="number">9</div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="pagination-area two">
                    <span class="prev page-numbers" disabled>
                        <i class='flaticon-015-left-arrow'></i>
                    </span>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/services-5" class="page-numbers">2</a>
                    <a routerLink="/services-5" class="page-numbers">3</a>
                    <a routerLink="/services-5" class="page-numbers">4</a>
                    <a routerLink="/services-5" class="page-numbers">5</a>
                    <a routerLink="/services-5" class="next page-numbers">
                        <i class='flaticon-014-right-arrow'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>