<!-- Page Banner -->
<div
    class="page-banner-area three ptb-100"
    style="background-image: url(assets/images/hospital/page-banner/bg-4.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Portfolio Details</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Portfolio Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Portfolio Details -->
<div class="portfolio-details-area pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="portfolio-details-desc">
                    <img src="assets/images/hospital/portfolio-details/portfolio-details1.jpg" alt="image">
                    <div class="content">
                        <h3>Case Description</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperi eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsvoluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos ratione.</p>
                        <p>Voluptatem sequi nesciunt neque porro quisquam est qui dolorem ipsum quia dolor sit amet consecte adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quavol uptatem ut enim ad minima veniam adipisci velit sed quia non numquam eius modi tempora.</p>
                        <h4>Significance And Impact</h4>
                        <p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiue ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsvoluptatem quia voluptas sit.</p>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="block">
                                    <img src="assets/images/hospital/portfolio-details/portfolio-details2.jpg" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="block">
                                    <img src="assets/images/hospital/portfolio-details/portfolio-details3.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                        <h4>Result For The Medical Test</h4>
                        <p>On the other hand we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment so blinded by desire that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those who fail in their duty through weakness.</p>
                        <p>which is the same as saying through shrinking from toil and pain these cases are perfectly simple and easy to dguish in a free hour when our power of choice is untrammelled and when nothing prevents our being able to do what we like best every pleasure is to be welcomed and every pain avoided.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="portfolio-details-info">
                    <h3>Research Details</h3>
                    <ul class="list">
                        <li><span>Research Name:</span> Jhon Martin</li>
                        <li><span>Client:</span> Mononucleosis Test </li>
                        <li><span>Category:</span> Vulputate Cursus </li>
                        <li><span>Research Year:</span> 2024</li>
                        <li><span>Location:</span> Bulls Stadium, Califorina</li>
                        <li><span>Delivery Mode:</span> Stipulated Price</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Related -->
<div class="portfolio-area pb-75">
    <div class="container">
        <h2 class="recent-project-title">Explore Recent Project</h2>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio1.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Modern Medicine
                            </a>
                        </h3>
                        <span>Medical</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio2.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Bariatric Surgery
                            </a>
                        </h3>
                        <span>Surgery</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-portfolio-card">
                    <div class="portfolio-image">
                        <a routerLink="/portfolio-details" class="d-block">
                            <img src="assets/images/hospital/portfolio/portfolio3.jpg" alt="portfolio-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/portfolio-details">
                                <i class='bx bx-plus'></i>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <h3>
                            <a routerLink="/portfolio-details">
                                Medical Scanner
                            </a>
                        </h3>
                        <span>Research</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>