<!-- Default About Section -->
<div
    class="about-area pb-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8' || router.url === '/about-us-2' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        About
                    </span>
                    <h3>
                        <span style="color: black">About us</span>
                    </h3>
                    <p>The Inopro Group is a leading marketer of specialised waters in Quebec and Canada. Its wide distribution network, its high quality standards as well as its impeccable and personalised service are just some of the points on which the company has built its reputation.</p>
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Leading marketer
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    High quality standards
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Personalised services
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Wide distribution network
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="list">
                        <div class="row">
                            <div class="col-6">
                                <div class="about-info" style="padding-left: 0">
                                        <a routerLink="/services" class="default-btn">Discover</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-1.jpg" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>
