<!-- Default About Section -->
<div
    class="about-area pb-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8' || router.url === '/about-us-2' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        About Our Hospital
                    </span>
                    <h3>
                        Our Clients are Our Priority, We Offer Quality Dental Services
                        <span>of Specialists</span>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Complete Crown
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Dental Implants
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Dental X-Ray
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Cosmetic Filling
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Cosmetic Filling
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Root Canal
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="list">
                        <div class="row">
                            <div class="col-6">
                                <div class="about-info">
                                    <i class="flaticon-157-caduceus"></i>
                                    <h4>25+ Years</h4>
                                    <span>Dental Experienced</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-1.jpg" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section for Home Demo - 2 -->
<div
    class="about-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/index-3' || router.url === '/about-us-2'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        About Our Hospital
                    </span>
                    <h3>Enjoy Specialized Care Through <span>Precision Experience</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                    <div class="row">
                        <div class="col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Complete Crown
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Dental Implants
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Dental X-Ray
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Cosmetic Filling
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Cosmetic Filling
                                </li>
                                <li>
                                    <i class="flaticon-163-draw-check-mark"></i>
                                    Root Canal
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="about-info">
                                <i class="flaticon-157-caduceus"></i>
                                <h4>25 Years</h4>
                                <span>Dental Experienced</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-info">
                                <i class="flaticon-146-dentist-chair"></i>
                                <h4>6405+</h4>
                                <span>Dental Services</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-2.jpg" alt="about-image">
                    <div class="about-inner-box">
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-149-doctor-2"></i>
                            </div>
                            <h3>
                                Certified Dentist
                            </h3>
                            <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section for Home Demo - 4 -->
<div
    class="dental-tourism-about-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-4' || router.url === '/about-us-3'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="dental-tourism-about-image">
                    <img src="assets/images/dental-tourism/about/about.jpg" alt="about-image">
                    <div class="certified">
                        <img src="assets/images/dental-tourism/about/certified.png" alt="certified">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="dental-tourism-about-content">
                    <span class="sub-title">
                        # About Dental Tourism
                    </span>
                    <h2>We Offer You Dental Treatment That Meets Top Quality Standards</h2>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi pretium ut lacinia in elementum id enim.</p>
                    <ul class="list">
                        <li><i class='bx bxs-check-shield'></i> Search for innovation in dentistry</li>
                        <li><i class='bx bxs-check-shield'></i> Flights, visa assistance and airport transfers</li>
                        <li><i class='bx bxs-check-shield'></i> 24 x 7 Personal client relationship manager</li>
                        <li><i class='bx bxs-check-shield'></i> Life time warranties on all treatments</li>
                        <li><i class='bx bxs-check-shield'></i> Advanced dental setup & technology</li>
                    </ul>
                    <a routerLink="/about-us" class="default-btn two">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section for Home Demo - 5 -->
<div
    class="skin-care-about-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="skin-care-about-image">
                    <img src="assets/images/skin-care/about/about.jpg" alt="image">
                    <div class="skin-care-fun-fact">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="fun-fact">
                                    <h3>20+</h3>
                                    <p>Years of Experience</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fun-fact">
                                    <h3>2K</h3>
                                    <p>Customers Treated</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="skin-care-about-content">
                    <span class="sub-title">
                        # About Treatment
                    </span>
                    <h2>We Carefully Manage The Treatment Of Our Patients In The Clinical Environment</h2>
                    <p>Vivamus magna justo lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec sollicitudin molestie malesuada. Curabitur arcu erat accumsan id imperdiet et porttitor at sem.</p>
                    <ul class="about-btn-with-info">
                        <li>
                            <a routerLink="/about-us" class="default-btn two">Learn More</a>
                        </li>
                        <li class="phone-number">
                            <i class='bx bxs-phone'></i>
                            <a href="tel:113519842020">+1(135) 1984 2020</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section for Home Demo - 6 -->
<div
    class="eye-care-about-area pb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-about-image">
                    <img src="assets/images/eye-care/about/about.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-about-content">
                    <span class="sub-title"># About Treatment</span>
                    <h2>We Carefully Manage The Treatment Of Patients</h2>
                    <p>Vivamus magna justo, lacinia eget consectetur sed convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi pretium ut lacinia in elementum id enim. Donec sollicitudin molestie malesuada.</p>
                    <ul class="list">
                        <li><i class='bx bx-check'></i> Nulla quis lorem ut libero malesuada feugiat.</li>
                        <li><i class='bx bx-check'></i> Curabitur aliquet quam id dui posuere blandit.</li>
                        <li><i class='bx bx-check'></i> Quisque velit nisi, pretium ut lacinia in, elementum id enim. </li>
                        <li><i class='bx bx-check'></i> Donec sollicitudin molestie malesuada.</li>
                    </ul>
                    <a routerLink="/about-us" class="default-btn two">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section for Home Demo - 7 -->
<div
    class="covid-about-area ptb-100 d-none bg-f1f5fe"
    [ngClass]="{'d-block': router.url === '/index-7'}"
>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="covid-about-image">
                    <img src="assets/images/covid/about.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="covid-about-content">
                    <span class="sub-title">About COVID-19</span>
                    <h2>Most People Infected With The COVID-19</h2>
                    <p>Lorem ipsum dolor sit amet cons todo eiusmod tempor incididu ut aliqua exe ullamco lorem ipsum dolor sit amet consectetur adipisicing elit sed do eius incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="list">
                        <li><i class='bx bx-check'></i> Shortness of Breath or Difficulty Breathing</li>
                        <li><i class='bx bx-check'></i> Chills, Sometimes With Shaking</li>
                    </ul>
                    <a routerLink="/about-us" class="default-btn">More About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Section for Home Demo - 8 -->
<div
    class="hospital-about-area ptb-100 bg-f8f8f8 d-none"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="hospital-about-image">
                    <img src="assets/images/hospital/about.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hospital-about-content">
                    <span class="sub-title">Our Medical</span>
                    <h2>We Are Setting The Standards In Research & Clinical Care</h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form by injected humour or randomised words which don't look even,</p>
                    <h4>Inba Special Features:</h4>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6">
                            <ul class="list">
                                <li>Adult Trauma Center</li>
                                <li>Birthing And Lactation Classes</li>
                                <li>Dental And Oral Surgery</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul class="list">
                                <li>Children's Trauma Center</li>
                                <li>Heart And Vascular Institute</li>
                                <li>Plastic Surgery</li>
                            </ul>
                        </div>
                    </div>
                    <a routerLink="/about-us" class="default-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hospital-about-shape">
        <img src="assets/images/hospital/about-shape.png" alt="image">
    </div>
</div>