<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(assets/images/page-title/page-title4.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Register for Vaccine</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>Register for Vaccine</li>
            </ul>
        </div>
    </div>
</div>

<app-emergency-registration></app-emergency-registration>