<div
    class="covid-tracker-area pt-100 pb-75"
    style="background-image: url(assets/images/covid/tracker/map.jpg);"
>
    <div *transloco="let t; read:'productGlance'" class="container">
        <div class="section-title with-covid-color">
            <h2>Our products at a glance</h2>
        </div>
        <div class="covid-tracker-slides">
            <owl-carousel-o [options]="vaccinesSlides">
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/inopro/vaccines/irrilag_v3.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">{{t("irrilag.role")}}</span>
                            <h3>{{t("irrilag.title")}}</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">{{t("irrilag.description")}}</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/inopro/vaccines/irrigo.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">{{t("irrigo.role")}}</span>
                            <h3>{{t("irrigo.title")}}</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">{{t("irrigo.description")}}</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/inopro/vaccines/inopro_en.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">{{t("inopro.role")}}</span>
                            <h3>{{t("inopro.title")}}</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">{{t("inopro.description")}}</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/inopro/vaccines/irrilin_multi.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">{{t("irrilin.role")}}</span>
                            <h3>{{t("irrilin.title")}}</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">{{t("irrilin.description")}}</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/inopro/vaccines/sopuro.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">{{t("sopuro.role")}}</span>
                            <h3>{{t("sopuro.title")}}</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">{{t("sopuro.description")}}</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/inopro/vaccines/sucro24.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">{{t("sucro24.role")}}</span>
                            <h3>{{t("sucro24.title")}}</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">{{t("sucro24.description")}}</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
