<div
    class="covid-tracker-area pt-100 pb-75"
    style="background-image: url(assets/images/covid/tracker/map.jpg);"
>
    <div class="container">
        <div class="section-title with-covid-color">
            <span class="sub-title">Products</span>
            <h2>Our products at a glance</h2>
        </div>
        <div class="covid-tracker-slides">
            <owl-carousel-o [options]="vaccinesSlides">
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/covid/tracker/tracker1.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">Colloïdal silver gel</span>
                            <h3>Irrilag</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">Treat skin infection and protection</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/covid/tracker/tracker1.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">Sterile sodium chloride solution</span>
                            <h3>Irrigo</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">Wound cleaning and irrigation</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/covid/tracker/tracker1.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">U.S.P. Purified Sterile Water</span>
                            <h3>Inopro</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">Laboratory analysis, medical institutions</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/covid/tracker/tracker1.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">Aqueous Solution</span>
                            <h3>Irrilin</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">Wound cleaning and irrigation</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/covid/tracker/tracker1.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">Aloe Vera Gel</span>
                            <h3>Sopuro</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">Antibacterial hand sanitizer</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="covid-tracker-card">
                        <div class="tracker-image">
                            <img src="assets/images/covid/tracker/tracker1.png" alt="image">
                        </div>
                        <div class="tracker-content">
                            <span class="sub">Maple syrup based solution</span>
                            <h3>Sucro24</h3>
                            <p class="d-flex justify-content-between align-items-center">
                                <span class="one">Reduce impact of painful procedures</span>
                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
