<div class="hospital-specialist-area ptb-100">
    <div class="container">
        <div class="section-title with-hospital-color">
            <span class="sub-title">Our Top Specialist</span>
            <h2>Top Specialist On Inba</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img1.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Primary Care
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img2.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Specialists
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img3.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Dentist
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img4.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Chiropractors
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img5.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Neurology
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img6.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Mental Health
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img7.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Eyecare
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="hospital-specialist-card">
                    <div class="specialist-content">
                        <img src="assets/images/hospital/specialist/img8.png" alt="image">
                        <h3>
                            <a routerLink="/services">
                                Heart Surgery
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="view-all-specialist-btn">
                    <a routerLink="/categories" class="default-btn">View All Specialist</a>
                </div>
            </div>
        </div>
    </div>
</div>