<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>About Us</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<app-about></app-about>

<app-funfacts></app-funfacts>

<div class="pt-100">
    <app-dentists></app-dentists>
</div>

<app-feedback></app-feedback>

<app-features></app-features>

<app-call-us></app-call-us>

<app-appointment></app-appointment>