.coming-soon-area {
    height: 100vh;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
}
.coming-soon-content {
    padding: 40px;
    max-width: 650px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    transition: var(--transition);
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    
    .logo {
        margin-bottom: 30px;

        a {
            line-height: 1;
            color: var(--main-color);
            font: {
                size: 45px;
                weight: 600;
            };
            }
    }
    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    #timer {
        margin-top: 35px;

        div {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            padding-bottom: 5px;
            color: var(--black-color);
            background: var(--white-color);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
            font: {
                size: 35px;
                weight: bold;
            };
            margin: {
                left: 10px;
                right: 10px;
            }
            span {
                display: block;
                margin-top: -2px;
                font: {
                    size: 15px;
                    weight: 500;
                };
            }
        }
    }
    form {
        margin-top: 35px;

        .form-control {
            height: 55px;
            padding: 15px 20px;
            border-radius: 5px;
            line-height: initial;
            color: var(--black-color);
            border: 1px solid #e5e7ec;
            transition: var(--transition);
            background-color: var(--white-color);
            box-shadow: -12px 8px 25px rgba(217, 35, 12, 0.03);
            font: {
                size: var(--font-size);
                weight: 400;
            };
            &::placeholder {
                color: var(--paragraph-color);
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                    transition: var(--transition);
                }
            }
        }
        .default-btn {
            width: 100%;
            display: block;
            margin-top: 15px;

            &::before {
                width: 850px;
                height: 850px;
            }
        }
    }
    &:hover {
        border-color: var(--main-color);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .coming-soon-area {
        height: auto;
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .coming-soon-content {
        padding: 20px;
        max-width: 100%;
        
        .logo {
            margin-bottom: 15px;

            a {
                font-size: 25px;
            }
        }
        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }
        #timer {
            margin-top: 5px;
    
            div {
                width: 100px;
                height: 100px;
                font-size: 24px;
                margin: {
                    left: 5px;
                    top: 10px;
                    right: 5px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
        form {
            margin-top: 25px;
    
            .form-control {
                height: 50px;
                font-size: 14px;
                padding: {
                    left: 13px;
                    right: 13px;
                };
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .coming-soon-content {
        padding: 30px;
        max-width: 100%;
        
        .logo {
            margin-bottom: 25px;
        }
        h2 {
            font-size: 28px;
        }
        #timer {
            margin-top: 25px;
        }
        form {
            margin-top: 25px;
    
            .form-control {
                font-size: 15px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}