<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Keeping Teeth Clean
                        </span>
                        <h1>The World Best <span>Dental Specialist</span> Treatment</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Book Appointment
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                Consult A Dentist
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg5.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Keeping Teeth Clean
                        </span>
                        <h1>The World Best <span>Dental Specialist</span> Treatment</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Book Appointment
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                Consult A Dentist
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg6.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Keeping Teeth Clean
                        </span>
                        <h1>The World Best <span>Dental Specialist</span> Treatment</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Book Appointment
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                Consult A Dentist
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>