<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerAllProd.png);"
            >
                <div *transloco="let t; read:'homeCarousell.global'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1>{{t("title")}} <span>{{t("span1")}} </span></h1>
                        <p>{{t("description1")}}<br>{{t("description2")}}</p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("viewAll")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerSopuro.png);"
            >
                <div *transloco="let t; read:'homeCarousell.sopuro'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1>{{t("title1")}} <span>{{t("span1")}} </span> {{t("title2")}}</h1>
                        <p>{{t("description1")}} <br> {{t("description2")}} </p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("view")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerInopro.png);">
                <div *transloco="let t; read:'homeCarousell.inopro'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1>{{t("title")}} <span> {{t("span1")}}</span></h1>
                        <p>{{t("description")}}</p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("view")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerIrrigo.png);"
            >
                <div *transloco="let t; read:'homeCarousell.irrigo'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1>{{t("title1")}}<span> {{t("span1")}} </span> {{t("title2")}}</h1>
                        <p>{{t("description")}}</p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("view")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerIrrilin.png);"
            >
                <div *transloco="let t; read:'homeCarousell.irrilin'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1>{{t("title1")}} <span>{{t("span1")}}</span> {{t("title2")}}</h1>
                        <p>{{t("description")}}</p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("view")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerSucro24.png);"
            >
                <div *transloco="let t; read:'homeCarousell.sucro24'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1><span>{{t("span1")}}</span> {{t("title")}} <span>{{t("span2")}}</span></h1>
                        <p>{{t("description1")}}<br>{{t("description2")}}</p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("view")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/inopro/carousel/bannerIrrilag.png);"
            >
                <div *transloco="let t; read:'homeCarousell.irrilag'" class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            {{t("pill")}}
                        </span>
                        <h1>{{t("title")}} <span>{{t("span1")}}</span></h1>
                        <p>{{t("description")}}</p>
                        <div *transloco="let b; read:'buttons'"  class="slides-btn">
                            <a routerLink="/contact" class="default-btn">
                                {{b("contact")}}
                            </a>
                            <a routerLink="/service-details-2" class="default-btn">
                                {{b("view")}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
