<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Global Scale
                        </span>
                        <h1>The leaders in <span>Specialised Waters </span></h1>
                        <p>The Inopro group is an established leader in the commercialisation of innovative pharmaceutical products on a global scale.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View All Products
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Sopuro
                        </span>
                        <h1>A revolutionary <span>Antibacterial </span> Hand sanitizer</h1>
                        <p>A revolutionary antibacterial hand sanitizer perfect for any occasion. It features an Aloe vera enriched moisturizing gel in three different fragrances to choose from.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Inopro U.S.P
                        </span>
                        <h1>Wound irrigation with <span> Purified Steril Water</span></h1>
                        <p>Make your life easier and use Inopro U.S.P purified deionized sterile water to remove bacteria with mechanical pressure up to 15 psi. </p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Irrigo
                        </span>
                        <h1>The perfect<span> All-in-one First Aid </span> Solution</h1>
                        <p>Irrigo is the first sterile sodium chloride solution especially designed to meet nurses needs. And it is now available to everyone!</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Irrilin
                        </span>
                        <h1>For a <span>Simple, Efficient</span> and <span> Sterile</span> solution</h1>
                        <p>Irrilin is an Aqueous Solution designed for wound cleaning and irrigation. Ideal to clean the skin and tissues as well as piercings and tattoos.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Sucro24
                        </span>
                        <h1><span>Comfort babies</span> with the help of <span>Sucro24</span></h1>
                        <p>Ideal to calm and comfort babies, Sucro24 is a preservative and alcohol free maple syrup based solution that help reduce the impact of painful procedures.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg4.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Irrilag
                        </span>
                        <h1>First-Aid gel <span>antispectic & antibacterial</span></h1>
                        <p>Made with colloïdal silver, Irrilag is designed to help treat minor skin infections, and to protect & help temporarily relieve itching and minor skin irritations.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Contact Us
                            </a>
                            <a routerLink="/appointment" class="default-btn">
                                View Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>


    </owl-carousel-o>
</div>
