<div class="widget widget_search">
    <form class="search-form">
        <input type="search" class="search-field" placeholder="Search...">
        <button type="submit">
            <i class='bx bx-search-alt'></i>
        </button>
    </form>
</div>
<div class="widget widget_info">
    <div class="image">
        <img src="assets/images/doctor/doctor-4.jpg" alt="image">
    </div>
    <div class="content">
        <h3>Daisy Gabriela</h3>
        <p>Lorem ipsum dolor sit amet, consectetur  incidunt ut labore et dolore magnam.</p>
        <div class="share-link">
            <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
        </div>
    </div>
</div>
<div class="widget widget_inba_posts_thumb">
    <h3 class="widget-title">Recent posts</h3>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <span
                class="fullimage cover"
                style="background-image: url(assets/images/blog/blog-1.jpg);"
                role="img"
            ></span>
        </a>
        <div class="info">
            <span>Nov 27, 2024</span>
            <h4 class="title usmall">
                <a routerLink="/blog-details">New Technology Make for Dental Operation</a>
            </h4>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <span
                class="fullimage cover"
                style="background-image: url(assets/images/blog/blog-2.jpg);"
                role="img"
            ></span>
        </a>
        <div class="info">
            <span>Nov 26, 2024</span>
            <h4 class="title usmall">
                <a routerLink="/blog-details">Regular Dental care make Your Smile Brighter</a>
            </h4>
        </div>
    </article>
    <article class="item">
        <a routerLink="/blog-details" class="thumb">
            <span
                class="fullimage cover"
                style="background-image: url(assets/images/blog/blog-3.jpg);"
                role="img"
            ></span>
        </a>
        <div class="info">
            <span>Nov 25, 2024</span>
            <h4 class="title usmall">
                <a routerLink="/blog-details">Dental Hygiene for All Age to Make Smile</a>
            </h4>
        </div>
    </article>
</div>
<div class="widget widget_categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
        <li><a routerLink="/blog-grid">Dental</a></li>
        <li><a routerLink="/blog-grid">Medical</a></li>
        <li><a routerLink="/blog-grid">Dentist</a></li>
        <li><a routerLink="/blog-grid">Hygiene</a></li>
        <li><a routerLink="/blog-grid">Hospital</a></li>
        <li><a routerLink="/blog-grid">Child Care</a></li>
    </ul>
</div>
<div class="widget widget_tag_cloud">
    <h3 class="widget-title">Popular Tags</h3>
    <div class="tagcloud">
        <a routerLink="/services">Business</a>
        <a routerLink="/services">Privacy</a>
        <a routerLink="/services">Technology</a>
        <a routerLink="/services">Tips</a>
        <a routerLink="/services">Uncategorized</a>
    </div>
</div>
<div class="widget widget_instagram">
    <h3 class="widget-title">Gallery</h3>
    <ul>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-1.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-2.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-3.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-4.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-5.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-6.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-7.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-8.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
        <li>
            <div class="box">
                <img src="assets/images/gallery/gallery-9.jpg" alt="image">
                <i class="bx bxl-instagram"></i>
                <a href="#" target="_blank" class="link-btn"></a>
            </div>
        </li>
    </ul>
</div>