<div class="hospital-information-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-map'></i>
                        </div>
                        <h3>Office Address</h3>
                        <p>2130 Fulton Street San Diego CA 94117-1080 USA</p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-envelope'></i>
                        </div>
                        <h3>Email Us</h3>
                        <p>
                            <a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a>
                            <a href="mailto:info&#64;inba.com">info&#64;inba.com</a>
                        </p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="hospital-information-card">
                    <div class="content">
                        <div class="icon">
                            <i class='bx bx-phone-call'></i>
                        </div>
                        <h3>Contact Us Free</h3>
                        <p>
                            <a href="tel:00874847348734">(008) 7484 7348 734</a>
                            <a href="tel:00164787586758">+001 6478 7586 758</a>
                        </p>
                    </div>
                    <div class="shape">
                        <img src="assets/images/hospital/info-shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>