<div class="dental-tourism-services-area ptb-100 bg-002345">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title main-color">
                <i class="flaticon-198-hashtag-1"></i>
                What We Do
            </span>
            <h2>We Provided All Types Of Dental Treatment</h2>
            <a routerLink="/blog-grid" class="default-btn two">See All Services</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="dental-tourism-services-slides">
            <owl-carousel-o [options]="whatWeDoSlides">
                <ng-template carouselSlide>
                    <div class="dental-tourism-services-card">
                        <div class="services-image">
                            <a routerLink="/service-details" class="d-block">
                                <img src="assets/images/dental-tourism/services/services-1.jpg" alt="service-image">
                            </a>
                            <div class="icon">
                                <i class="flaticon-152-tooth"></i>
                            </div>
                        </div>
                        <div class="services-content">
                            <h3>
                                <a routerLink="/service-details">Dental Implants</a>
                            </h3>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="dental-tourism-services-card">
                        <div class="services-image">
                            <a routerLink="/service-details" class="d-block">
                                <img src="assets/images/dental-tourism/services/services-2.jpg" alt="service-image">
                            </a>
                            <div class="icon">
                                <i class="flaticon-153-dental-care"></i>
                            </div>
                        </div>
                        <div class="services-content">
                            <h3>
                                <a routerLink="/service-details">Root Canal</a>
                            </h3>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="dental-tourism-services-card">
                        <div class="services-image">
                            <a routerLink="/service-details" class="d-block">
                                <img src="assets/images/dental-tourism/services/services-3.jpg" alt="service-image">
                            </a>
                            <div class="icon">
                                <i class="flaticon-154-dental-implant"></i>
                            </div>
                        </div>
                        <div class="services-content">
                            <h3>
                                <a routerLink="/service-details">Fillings</a>
                            </h3>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="dental-tourism-services-card">
                        <div class="services-image">
                            <a routerLink="/service-details" class="d-block">
                                <img src="assets/images/dental-tourism/services/services-4.jpg" alt="service-image">
                            </a>
                            <div class="icon">
                                <i class="flaticon-155-tooth-1"></i>
                            </div>
                        </div>
                        <div class="services-content">
                            <h3>
                                <a routerLink="/service-details">Cosmetic Dentistry</a>
                            </h3>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="dental-tourism-services-card">
                        <div class="services-image">
                            <a routerLink="/service-details" class="d-block">
                                <img src="assets/images/dental-tourism/services/services-5.jpg" alt="service-image">
                            </a>
                            <div class="icon">
                                <i class="flaticon-156-tooth-filling"></i>
                            </div>
                        </div>
                        <div class="services-content">
                            <h3>
                                <a routerLink="/service-details">Whitening</a>
                            </h3>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>