<!-- Default Recent Works Section -->
<div
    class="gallery-area bg-091e3e pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Recent Work
            </span>
            <h2>Our Cases & Patient Stories We Create Beautiful Smiles</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery">
                    <img src="assets/images/gallery/gallery-1.jpg" alt="image">
                    <div class="content">
                        <h3>
                            <a routerLink="/service-details">
                                Aesthetic Dentistry
                            </a>
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-014-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery">
                    <img src="assets/images/gallery/gallery-2.jpg" alt="image">
                    <div class="content">
                        <h3>
                            <a routerLink="/service-details">
                                Periodontists Dentistry
                            </a>
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-014-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery">
                    <img src="assets/images/gallery/gallery-3.jpg" alt="image">
                    <div class="content">
                        <h3>
                            <a routerLink="/service-details">
                                Endodontists Dentistry
                            </a>
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-014-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent Works Section for Home Demo - 2 -->
<div
    class="gallery-area pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Recent Work
            </span>
            <h2>Our Cases & Patient Stories We Create Beautiful Smiles</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery">
                    <img src="assets/images/gallery/gallery-1.jpg" alt="image">
                    <div class="content">
                        <h3>
                            <a routerLink="/service-details">
                                Aesthetic Dentistry
                            </a>
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-014-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery">
                    <img src="assets/images/gallery/gallery-2.jpg" alt="image">
                    <div class="content">
                        <h3>
                            <a routerLink="/service-details">
                                Periodontists Dentistry
                            </a>
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-014-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery">
                    <img src="assets/images/gallery/gallery-3.jpg" alt="image">
                    <div class="content">
                        <h3>
                            <a routerLink="/service-details">
                                Endodontists Dentistry
                            </a>
                        </h3>
                        <span>Prosthodontics Dentist</span>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-014-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>