<div
    class="top-header-area"
    [ngClass]="{'d-none': router.url === '/index-4' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/index-7' || router.url === '/index-8'|| router.url === '/services-4' || router.url === '/services-5' || router.url === '/services-6' || router.url === '/service-details-2' || router.url === '/contact-us-2' || router.url === '/contact-us-3' || router.url === '/about-us-3' || router.url === '/doctors' || router.url === '/portfolio' || router.url === '/portfolio-details'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7 col-md-12">
                <ul class="top-header-information">
                    <li>
                        <i class='bx bxs-map'></i>
                        35 West Dental Street, California 1004
                    </li>
                    <li>
                        <i class='bx bx-envelope-open'></i>
                        <a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12">
                <ul class="top-header-optional">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                    <li class="languages-list">
                        <select>
                            <option value="1">English</option>
                            <option value="2">العربيّة</option>
                            <option value="3">Deutsch</option>
                            <option value="3">Português</option>
                            <option value="3">简体中文</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Top Header for Home Demo - 4 -->
<div
    class="dental-tourism-top-area d-none"
    [ngClass]="{'d-block': router.url === '/index-4' || router.url === '/about-us-3'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-9 col-md-12">
                <ul class="top-dental-tourism-information with-left">
                    <li>
                        <i class='bx bxs-phone'></i>
                        <a href="tel:08812365498835">+088 123 654 988 35</a>
                    </li>
                    <li>
                        <i class='bx bxs-map'></i>
                        35 West Dental Street, California 1004
                    </li>
                    <li>
                        <i class='bx bx-envelope-open'></i>
                        <a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12">
                <ul class="top-dental-tourism-optional">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Top Header for Home Demo - 5 & 6 -->
<div
    class="skin-care-top-area d-none"
    [ngClass]="{'d-block': router.url === '/index-5' || router.url === '/index-6'|| router.url === '/services-4' || router.url === '/services-5' || router.url === '/doctors'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-9 col-md-12">
                <ul class="top-skin-care-information">
                    <li>
                        <i class='bx bxs-phone'></i>
                        <a href="tel:08812365498835">+088 123 654 988 35</a>
                    </li>
                    <li>
                        <i class='bx bxs-map'></i>
                        35 West Dental Street, California 1004
                    </li>
                    <li>
                        <i class='bx bx-envelope-open'></i>
                        <a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12">
                <ul class="top-skin-care-optional">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Top Header for Home Demo - 7 -->
<div
    class="top-area d-none"
    [ngClass]="{'d-block': router.url === '/index-7' || router.url === '/contact-us-2'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-3 col-md-12">
                <ul class="top-area-optional">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <i class='bx bxl-twitter'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12">
                <ul class="top-area-information">
                    <li>
                        <i class='bx bxs-phone'></i>
                        <a href="tel:08812365498835">+088 123 654 988 35</a>
                    </li>
                    <li>
                        <i class='bx bxs-map'></i>
                        35 West Dental Street, California 1004
                    </li>
                    <li>
                        <i class='bx bx-envelope-open'></i>
                        <a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Top Header for Home Demo - 8 -->
<div
    class="hospital-top-area d-none"
    [ngClass]="{'d-block': router.url === '/index-8' || router.url === '/services-6' || router.url === '/service-details-2' || router.url === '/contact-us-3' || router.url === '/portfolio' || router.url === '/portfolio-details'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <ul class="top-optional-wrap">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/?lang=en" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-12">
                    <ul class="top-information-wrap">
                        <li>
                            <i class='bx bxs-phone'></i>
                            <a href="tel:01887689870859">(+0188) 768 987 0859</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:hello&#64;inba.com">hello&#64;inba.com</a>
                        </li>
                        <li>
                            <i class='bx bxs-map'></i>
                            4b, Walse Street , USA
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>