<div class="top-header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7 col-md-12">
                <ul class="top-header-information">
                    <li>
                        <i class='bx bxs-map'></i>
                        Cowansville, QC, Canada, J6A 7E9
                    </li>
                    <li>
                        <i class='bx bx-envelope-open'></i>
                        <a href="mailto:info@inopro.ca">info&#64;inopro.ca</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-5 col-md-12">
                <ul class="top-header-optional">
                    <li>
                        <a href="https://www.facebook.com/produitsinopro" target="_blank">
                            <i class='bx bxl-facebook'></i>
                        </a>
                        <a href="https://www.linkedin.com/company/inopro-inc-/?originalSubdomain=ca" target="_blank">
                            <i class='bx bxl-linkedin'></i>
                        </a>
                        <a href="https://www.instagram.com/inopro/" target="_blank">
                            <i class='bx bxl-instagram'></i>
                        </a>
                    </li>
                    <li class="languages-list">
                        <select>
                            <option value="1">English</option>
                            <option value="2">French</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
