<div class="newsletter-area">
    <div class="container">
        <div class="newsletter-inner-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="newsletter-content">
                        <h2>Join Our Newsletter</h2>
                        <p>Sign up for our newsletter and get updated about our latest promotions</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Your email address" name="email" required autocomplete="off">
                        <button type="submit"><i class='bx bx-send'></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>