<div class="newsletter-area">
    <div class="container">
        <div class="newsletter-inner-box">
            <div class="row align-items-center">
                <div class="col-lg-10 col-md-12">
                    <div class="newsletter-content">
                        <h2>Learn more about our wide selection of specialised waters and more</h2>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12">
                    <a routerLink="/services" class="subscribe-btn">Discover</a>
                </div>
            </div>
        </div>
    </div>
</div>
