<div
    class="hospital-banner-area"
    style="background-image: url(assets/images/hospital/banner/banner-bg.jpg);"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="hospital-banner-content">
                    <span class="sub-title">Our Doctor At Inba Hospital</span>
                    <h1>Hospital Services That You Can Trust</h1>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled aitem demora lized by the charms of pleasure of the moment with.</p>
                    <a routerLink="/services" class="default-btn">View Our Services</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hospital-banner-image">
                    <img src="assets/images/hospital/banner/main.png" alt="image">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>