<div class="skin-care-before-after-area ptb-100 bg-eff8fb">
    <div class="container-fluid">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Before and After
            </span>
            <h2>Before & After Skin Treatment</h2>
        </div>
        <div class="skin-care-before-after-slides">
            <owl-carousel-o [options]="beforeAfterSlides">
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="assets/images/skin-care/before-after/before-after-1.jpg" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="assets/images/skin-care/before-after/before-after-2.jpg" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="assets/images/skin-care/before-after/before-after-3.jpg" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="assets/images/skin-care/before-after/before-after-1.jpg" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="assets/images/skin-care/before-after/before-after-2.jpg" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="skin-care-before-after-card">
                        <img src="assets/images/skin-care/before-after/before-after-3.jpg" alt="image">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>