<div
    class="hospital-call-to-action-area ptb-100"
    style="background-image: url(assets/images/hospital/call-to-action.jpg);"
>
    <div class="container">
        <div class="hospital-call-to-action-content">
            <span>Time Can't be Resisted, But Aging Can</span>
            <h3>Commited To Trusted Health Care Inba</h3>
            <p>Get Your Quote Or Call: <a href="tel:0080123453789)">(0080) 123-453-789)</a></p>
            <ul class="action-btn-list">
                <li>
                    <a routerLink="/hospital-appointment" class="appointment-btn">Appointment</a>
                </li>
                <li>
                    <a routerLink="/hospital-contact-us" class="see-btn">See How We Can Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>