<div class="skin-care-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="skin-care-banner-content">
                    <span class="sub-title">
                        # Skin Treatment
                    </span>
                    <h1>Every Day Take Care In Your Own Skin</h1>
                    <p>No matter what your skin concerns we have an experienced professional doctor to give you the best results for your skin.</p>
                    <a routerLink="/services" class="default-btn two">View Our Services</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="skin-care-banner-image">
                    <img src="assets/images/skin-care/banner/banner.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="skin-care-banner-shape">
        <img src="assets/images/skin-care/banner/shape.png" alt="image">
    </div>
</div>