.forgot-password-form {
    padding: 50px;
    max-width: 600px;
    border-radius: 5px;
    transition: var(--transition);
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    margin: {
        left: auto;
        right: auto;
    };
    form {
        label {
            display: block;
            margin-bottom: 10px;
            color: var(--black-color);
            font: {
                weight: 500;
                size: 15px;
            };
        }
        .form-control {
            background-color: transparent;
            transition: var(--transition);
            font-size: var(--font-size);
            border: 1px solid #e1e1e1;
            color: var(--black-color);
            line-height: initial;
            padding: 15px 18px;
            border-radius: 5px;
            box-shadow: unset;
            height: 55px;

            &::placeholder {
                color: var(--paragraph-color);
            }
            &:focus {
                border-color: var(--main-color);

                &::placeholder {
                    color: transparent;
                    transition: var(--transition);
                }
            }
        }
        .default-btn {
            margin-top: 20px;
            padding: {
                left: 35px;
                right: 35px;
            };
        }
    }
    &:hover {
        border-color: var(--main-color);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .register-form {
        padding: 0;
        max-width: 100%;
        border: none !important;
        box-shadow: unset !important;
        background-color: transparent;
        
        form {
            label {
                font-size: 14px;
            }
            .form-control {
                font-size: 14px;
                padding: 15px;
                height: 50px;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .register-form {
        padding: 40px;
        max-width: 600px;
        
        form {
            label {
                font-size: 14px;
            }
            .form-control {
                font-size: 15px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}