<div class="hospital-skills-area bg-f8f8f8 ptb-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="hospital-skills-content">
                    <span class="sub-title">Stories & Skills</span>
                    <h2>We will Connect You To World Class Specialists</h2>
                    <p>Be sure there isn't anything embarrassing hidden in the middle of text. All the Lorsume nerators on the Internet tend to repeat predefined chunks necessary making the first true.</p>
                    <div class="skills">
                        <div class="skill-item">
                            <div class="skill-header">
                                <h3 class="skill-title">Medical Private</h3>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        80%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" style="width: 80%;"></div></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h3 class="skill-title">Patients Served</h3>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        90%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" style="width: 90%;"></div></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="skill-header">
                                <h3 class="skill-title">Satisfied Patients</h3>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        85%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" style="width: 85%;"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="hospital-skills-image">
                    <img src="assets/images/hospital/skill.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>