<!-- Default Services Section -->
<div
    class="services-area pb-75"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-8'}"
>
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Best Dental Services
            </span>
            <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-1.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-146-dentist-chair"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                General Dentistry
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-2.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-153-dental-care"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Cosmetic Dentistry
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-3.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-154-dental-implant"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Dental Implants
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-4.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-155-tooth-1"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Orthodontics
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-5.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-152-tooth"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Teeth Whitening
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                    </div>
                    <div class="services-content">
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Teeth Cleaning
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section for Home Demo - 2 -->
<div
    class="services-area bg-eef9ff pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Services
            </span>
            <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-146-dentist-chair"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            General Dentistry
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/service-details" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-153-dental-care"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Cosmetic Dentistry
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/service-details" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-154-dental-implant"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Dental Implants
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/service-details" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-155-tooth-1"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Orthodontics
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/service-details" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-152-tooth"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Teeth Whitening
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/service-details" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-167-tooth-2"></i>
                    </div>
                    <h3>
                        <a routerLink="/service-details">
                            Teeth Cleaning
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur elit sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/service-details" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section for Home Demo - 3 -->
<div
    class="services-area pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our Best Dental Services
            </span>
            <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
            <a routerLink="/services" class="default-btn">View All</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-1.jpg" alt="services-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-146-dentist-chair"></i>
                            </a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                General Dentistry
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-2.jpg" alt="services-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-153-dental-care"></i>
                            </a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Cosmetic Dentistry
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-3.jpg" alt="services-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-154-dental-implant"></i>
                            </a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Dental Implants
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-4.jpg" alt="services-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-155-tooth-1"></i>
                            </a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Orthodontics
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-5.jpg" alt="services-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-152-tooth"></i>
                            </a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Teeth Whitening
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-item">
                    <div class="services-image">
                        <a routerLink="/service-details" class="d-block">
                            <img src="assets/images/services/services-6.jpg" alt="services-image">
                        </a>
                        <div class="icon">
                            <a routerLink="/service-details">
                                <i class="flaticon-167-tooth-2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>
                            <a routerLink="/service-details">
                                Teeth Cleaning
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>
                        <a routerLink="/service-details" class="default-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section for Home Demo - 8 -->
<div
    class="hospital-services-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-8'}"
>
    <div class="container">
        <div class="section-title with-hospital-color">
            <span class="sub-title">We Offer Services</span>
            <h2>Our Special Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="hospital-services-card">
                    <div class="title">
                        <img src="assets/images/hospital/services/img1.png" alt="image">
                        <h3>
                            <a routerLink="/service-details">
                                Cardiology
                            </a>
                        </h3>
                    </div>
                    <p>There are many variations As passages of Lorem Ipsum available but the passages.</p>
                    <a routerLink="/service-details" class="services-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="hospital-services-card">
                    <div class="title">
                        <img src="assets/images/hospital/services/img2.png" alt="image">
                        <h3>
                            <a routerLink="/service-details">
                                Angioplasty
                            </a>
                        </h3>
                    </div>
                    <p>There are many variations As passages of Lorem Ipsum available but the passages.</p>
                    <a routerLink="/service-details" class="services-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="hospital-services-card">
                    <div class="title">
                        <img src="assets/images/hospital/services/img3.png" alt="image">
                        <h3>
                            <a routerLink="/service-details">
                                Dental
                            </a>
                        </h3>
                    </div>
                    <p>There are many variations As passages of Lorem Ipsum available but the passages.</p>
                    <a routerLink="/service-details" class="services-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="hospital-services-card">
                    <div class="title">
                        <img src="assets/images/hospital/services/img4.png" alt="image">
                        <h3>
                            <a routerLink="/service-details">
                                Orthopaedics
                            </a>
                        </h3>
                    </div>
                    <p>There are many variations As passages of Lorem Ipsum available but the passages.</p>
                    <a routerLink="/service-details" class="services-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="hospital-services-card">
                    <div class="title">
                        <img src="assets/images/hospital/services/img5.png" alt="image">
                        <h3>
                            <a routerLink="/service-details">
                                Neurology
                            </a>
                        </h3>
                    </div>
                    <p>There are many variations As passages of Lorem Ipsum available but the passages.</p>
                    <a routerLink="/service-details" class="services-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="hospital-services-card">
                    <div class="title">
                        <img src="assets/images/hospital/services/img6.png" alt="image">
                        <h3>
                            <a routerLink="/service-details">
                                Psychiatry
                            </a>
                        </h3>
                    </div>
                    <p>There are many variations As passages of Lorem Ipsum available but the passages.</p>
                    <a routerLink="/service-details" class="services-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>