<div class="overview-area bg-f5f5f5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="overview-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        We Care For Every Patient
                    </span>
                    <h3>Nervous Troubled Attractive Staring Right Anxiously!</h3>
                    <p>
                        Contact Us Today
                        <a href="tel:088123654987">+088 123 654 987</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="overview-image">
                    <img src="assets/images/overview.png" alt="overview-image">
                </div>
            </div>
        </div>
    </div>
</div>