<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg3.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Keeping Teeth Clean
                        </span>
                        <h1>Your Health is Our Top <span>Priority</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Book Appointment
                            </a>
                            <div class="checkup-content">
                                <div class="icon">
                                    <i class="flaticon-146-dentist-chair"></i>
                                </div>
                                <span><a routerLink="/contact-us">
                                    Get Free Checkup
                                </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg1.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Keeping Teeth Clean
                        </span>
                        <h1>Personalized Dental <span>Care</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Book Appointment
                            </a>
                            <div class="checkup-content">
                                <div class="icon">
                                    <i class="flaticon-146-dentist-chair"></i>
                                </div>
                                <span><a routerLink="/contact-us">
                                    Get Free Checkup
                                </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div
                class="main-slides-item"
                style="background-image: url(assets/images/main-slides/slides-bg2.jpg);"
            >
                <div class="container">
                    <div class="main-slides-content">
                        <span class="sub-title">
                            <i class="flaticon-198-hashtag-1"></i>
                            Keeping Teeth Clean
                        </span>
                        <h1>Exceptional Care for <span>Women</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="slides-btn">
                            <a routerLink="/appointment" class="default-btn">
                                Book Appointment
                            </a>
                            <div class="checkup-content">
                                <div class="icon">
                                    <i class="flaticon-146-dentist-chair"></i>
                                </div>
                                <span><a routerLink="/contact-us">
                                    Get Free Checkup
                                </a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>