<div class="main-banner-item">
    <div class="container-fluid">
        <div class="row align-items-center ms-0 me-0">
            <div class="col-lg-6 col-md-12 ps-0 pe-0">
                <div class="main-banner-content">
                    <span class="sub-title wow">
                        <i class="flaticon-198-hashtag-1"></i>
                        Keeping Teeth Clean
                    </span>
                    <h1>The World Best <span>Dental Specialist</span> Treatment</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/appointment" class="default-btn">Book Appointment</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 ps-0 pe-0">
                <div class="main-banner-image">
                    <img src="assets/images/main-banner-1.jpg" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div>