<div class="features-area pb-75 pt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-149-doctor-2"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Certified Dentist
                            </a>
                        </h3>
                        <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-147-invalid"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                New Technology
                            </a>
                        </h3>
                        <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features bg-4a6577">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-151-healthcare"></i>
                        </div>
                        <h3>
                            <a routerLink="/service-details">
                                Accept Insurance
                            </a>
                        </h3>
                        <p>Proin gravida nibh velit auctor aliquet aenean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>