
<div class="skin-care-partner-area bg-color" style="background-image: url(assets/images/covid/tracker/map.jpg)">
    <div class="container">
        <div class="section-title-warp">
            <span *transloco="let t; read:'partners'" class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                {{t("pill")}}
            </span>
        </div>
        <div class="skin-care-partner-inner-box">
            <div class="skin-care-partner-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.familiprix.com/en" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/familiprix-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Familiprix</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.walmart.ca/en/cp/digital-pharmacy/6000206038183" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/walmart-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Walmart Pharmacy</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://shop.shoppersdrugmart.ca/pharmacy-services" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/shoppersDM-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Shoppers Drug Mart</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.jeancoutu.com/" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/pjeancoutu-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Jean Coutu</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.accespharma.ca/en" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/accespharma-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Accès Pharma</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.rexall.ca/" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/rexall-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Rexall</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.mckesson.ca/" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/mckesson-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>McKesson</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="https://www.sobeys.com/en/" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/sobeys-logo.png" alt="partner">
                            </a>
                            <br>
                            <span>Sobeys</span>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
