
<div class="skin-care-partner-area bg-color" style="background-image: url(assets/images/covid/tracker/map.jpg)">
    <div class="container">
        <div class="section-title-warp">
            <span class="sub-title">
                <i class="flaticon-198-hashtag-1"></i>
                Our partners
            </span>
        </div>
        <div class="skin-care-partner-inner-box">
            <div class="skin-care-partner-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/familiprix-logo.png" alt="partner">
                            </a>
                            <span>Familiprix</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/walmart-logo.png" alt="partner">
                            </a>
                            <span>Walmart Pharmacy</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/shoppersDM-logo.png" alt="partner">
                            </a>
                            <span>Shoppers Drug Mart</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/pjeancoutu-logo.png" alt="partner">
                            </a>
                            <span>Jean Coutu</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/accespharma-logo.png" alt="partner">
                            </a>
                            <span>Accès Pharma</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/rexall-logo.png" alt="partner">
                            </a>
                            <span>Rexall</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/mckesson-logo.png" alt="partner">
                            </a>
                            <span>McKesson</span>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="../../../../assets/images/inopro/partners/sobeys-logo.png" alt="partner">

                            </a>
                            <span>Sobeys</span>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>
