<div class="skin-care-partner-area bg-color">
    <div class="container">
        <div class="skin-care-partner-inner-box">
            <div class="skin-care-partner-slides">
                <owl-carousel-o [options]="partnerSlides">
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="assets/images/skin-care/partner/partner-1.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="assets/images/skin-care/partner/partner-2.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="assets/images/skin-care/partner/partner-3.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="assets/images/skin-care/partner/partner-4.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="skin-care-partner-card">
                            <a href="#" target="_blank">
                                <img src="assets/images/skin-care/partner/partner-5.png" alt="partner">
                            </a>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>