<div class="eye-care-solutions-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title main-color">
                <i class="flaticon-198-hashtag-1"></i>
                What We Offer?
            </span>
            <h2>We Provide All Kinds Of Eye Health Solutions</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-solutions-content">
                    <h2>Quality Care With Modern Facilities</h2>
                    <p>Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa convallis a pellentesque nec egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                    <div class="solutions-inner-content bg-f7f7fd">
                        <h4>Comprehensive Eye Check-Up</h4>
                        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis pellentesque nec egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                    </div>
                    <div class="solutions-inner-content">
                        <h4>Diabetic Eye Diseases Treatments</h4>
                        <p>Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis pellentesque nec egestas non nisi. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="eye-care-solutions-image">
                    <img src="assets/images/eye-care/solutions/solutions.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>