<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(assets/images/page-title/page-title1.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>Le groupe Inopro</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-about></app-about>
</div>

<app-features></app-features>

<app-why-choose-us></app-why-choose-us>

<app-call-us></app-call-us>

<app-appointment style="background-image: url(assets/images/covid/tracker/map.jpg);"></app-appointment>
