
<footer
    class="skin-care-footer-area pt-100 d-none"
    [ngClass]="{'d-block':router.url === '/home' || router.url === '/contact' || router.url === '/about-us' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/services-4' || router.url === '/services-5'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h2>
                        <a routerLink="/">
                            <img src="../../../../assets/images/inopro/footer/inopro_white_footer.png" alt="Logo">
                        </a>
                    </h2>
                    <p>
                        Active in pharmaceutical, medical, and cosmetic fields, the Inopro group is a leading marketer of specialised waters in Quebec and Canada.
                    </p>
                    <ul class="info-list">
                        <li><i class='bx bx-map' style='color:#005cb9'></i>   Cowansville, Québec, Canada</li>
                        <li><i class='bx bx-phone-call' style='color:#005cb9'></i><a href="tel:5147925440">   514-792-5440</a></li>
                        <li><i class='bx bx-mail-send' style='color:#005cb9'></i><a href="mailto:hello&#64;inba.com"> info&#64;inopro.ca</a></li>
                    </ul>
                    <ul class="share-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h3>Offre</h3>
                    <ul class="quick-links">
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/about-us">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h3>Information</h3>
                    <ul class="quick-links">
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/service-details">About</a>
                        </li>
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/service-details">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h3>Home</h3>
                    <ul class="quick-links">
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/dentists">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-8 col-sm-12">
                <div
                    class="skin-care-footer-widget"
                    [ngClass]="{'d-none': router.url === '/index-6'}"
                >
                    <h3>Newsletter</h3>
                    <form class="newsletter-form">
                        <p>Subscribe to our Newsletter to receive updates via email</p>
                        <div class="form-group">
                            <input type="email" class="input-newsletter" placeholder="Your email address" name="email" required autocomplete="off">
                            <button type="submit"><i class='bx bx-send'></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="skin-care-copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>All rights reserved &#64;Inopro 2024</p>
                </div>
            </div>
        </div>
    </div>
</footer>

