.footer-area {
    background-color: #091e3e;
}
.single-footer-widget {
    margin-bottom: 25px;

    h2 {
        margin-bottom: 20px;
        line-height: 1;
        font: {
            size: 45px;
            weight: 600;
        };
        a {
            color: var(--white-color);
        }
    }
    p {
        color: var(--white-color);
    }
    .signature {
        margin-top: 25px;
    }
    .footer-info {
        margin-top: 35px;
        position: relative;
        padding-left: 75px;

        img {
            display: inline-block;
            border-radius: 15px;
            position: absolute;
            height: 55px;
            width: 55px;
            left: 0;
            top: 0;
        }
        h4 {
            margin-bottom: 10px;
            color: var(--white-color);
            font: {
                size: 20px;
                weight: 500;
            };
        }
        span {
            font-size: 15px;
            color: var(--white-color);
        }
    }
    h3 {
        color: var(--white-color);
        margin-bottom: 30px;
        font: {
            weight: 500;
            size: 25px;
        };
    }
    .quick-links {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 14px;

            a {
                color: var(--white-color);
                display: inline-block;
                position: relative;

                &:hover {
                    color: var(--main-color);

                    &::before {
                        width: 100%;
                    }
                }
                &::before {
                    left: 0;
                    width: 0;
                    bottom: 0;
                    height: 1px;
                    content: '';
                    position: absolute;
                    transition: var(--transition);
                    background-color: var(--main-color);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .footer-widget-blog {
        position: relative;

        .item {
            overflow: hidden;
            margin-bottom: 25px;

            .thumb {
                margin-right: 15px;
                position: relative;
                overflow: hidden;
                display: block;
                height: 80px;
                float: left;
                width: 80px;
                z-index: 1;

                .fullimage {
                    width: 80px;
                    height: 80px;
                    border-radius: 5px;
                    display: inline-block;
                    background: {
                        size: cover;
                        repeat: no-repeat;
                        position: center center;
                    };
                }
            }
            .info {
                overflow: hidden;
                margin-top: 5px;

                span {
                    display: block;
                    font-size: 14px;
                    color: #ede9e9;
                    margin: {
                        top: -5px;
                        bottom: 8px;
                    };
                    a {
                        color: var(--white-color);

                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }
                h4 {
                    margin-bottom: 0;
                    line-height: 1.4;
                    font: {
                        size: 18px;
                        weight: 500;
                    };
                    a {
                        color: var(--white-color);

                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .footer-information {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            position: relative;
            padding-left: 55px;
            margin-bottom: 20px;
            color: var(--white-color);
            font: {
                size: 13px;
                weight: 400;
            };
            &:last-child {
                margin-bottom: 0;
            }
            i {
                left: 0;
                top: 50%;
                font-size: 38px;
                position: absolute;
                color: var(--main-color);
                transform: translateY(-50%);
            }
            span {
                display: block;
                margin-top: 8px;
                color: var(--white-color);
                font: {
                    size: 18px;
                    weight: 400;
                };
                a {
                    color: var(--white-color);

                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }
    }
}
.copyright-area {
    background-color: #091e3e;

    .copyright-area-content {
        border-top: 1px solid #2e405b;
        text-align: center;
        padding: {
            top: 30px;
            bottom: 30px;
        };
        p {
            color: var(--white-color);

            a {
                font-weight: 600;
                color: var(--main-color);

                &:hover {
                    color: var(--white-color);
                }
            }
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
}

// Footer Style Three
.skin-care-footer-area {
    background-color: #171b2a;
}
.skin-care-footer-widget {
    margin-bottom: 25px;
    font-family: var(--font-family3);

    h2 {
        margin-bottom: 20px;
        line-height: 1;
        font: {
            size: 45px;
            weight: 600;
        };
        a {
            color: var(--main-color2);
        }
    }
    h3 {
        margin-bottom: 25px;
        color: var(--black-color2);
        font: {
            size: 24px;
            weight: 500;
            family: var(--font-family2);
        };
    }
    .info-list {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 18px;
            color: var(--paragraph-color2);

            span {
                color: var(--main-color2);
            }
            a {
                color: var(--paragraph-color2);
                margin-left: 3px;

                &:hover {
                    color: var(--main-color2);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .share-link {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 20px;
            bottom: 0;
        };
        li {
            display: inline-block;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
            span {
                color: var(--paragraph-color2);
                font: {
                    size: 20px;
                    weight: 500;
                    family: var(--font-family2);
                };
            }
            a {
                width: 25px;
                height: 25px;
                line-height: 24px;
                position: relative;
                text-align: center;
                border-radius: 5px;
                display: inline-block;
                color: var(--paragraph-color2);
                border: 2px solid var(--paragraph-color2);

                &:hover {
                    color: var(--main-color2);
                    transform: translateY(-2px);
                    border: 2px solid var(--main-color2);
                }
            }
        }
    }
    .quick-links {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            list-style-type: none;
            margin-bottom: 15px;
            position: relative;
            padding-left: 22px;

            a {
                color: var(--paragraph-color2);

                &:hover {
                    color: var(--main-color2);
                }
            }
            i {
                color: var(--main-color2);
                position: absolute;
                top: 4.5px;
                left: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .newsletter-form {
        p {
            font-family: var(--font-family3);
            color: var(--paragraph-color2);
        }
        .form-group {
            margin-top: 30px;
            position: relative;

            .input-newsletter {
                outline: 0;
                width: 100%;
                border: none;
                padding: 0 0 15px;
                color: var(--black-color2);
                font-size: var(--font-size);
                transition: var(--transition);
                background-color: transparent;
                border-bottom: 1px solid #ebebeb;

                &::placeholder {
                    color: var(--paragraph-color2);
                }
                &:focus {
                    border-bottom-color: var(--main-color2);
                }
            }
            button {
                background-color: transparent;
                color: var(--main-color2);
                position: absolute;
                font-size: 20px;
                border: none;
                bottom: 15px;
                padding: 0;
                right: 0;
            }
        }
    }
    .hours-list {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 15px;

            span {
                color: var(--paragraph-color2);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.skin-care-copyright-area {
    margin-top: 75px;
    text-align: center;

    .copyright-area-content {
        border-top: 1px solid #ebebeb;
        padding: {
            top: 30px;
            bottom: 30px;
        };
        p {
            color: var(--paragraph-color2);
            font-family: var(--font-family3);

            a {
                color: var(--main-color2);
                font-weight: 600;

                &:hover {
                    color: var(--main-color);
                }
            }
        }
    }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
.skin-care-footer-widget
{
    h3,a,p{
        color: white;
    }
}



