
<footer
    class="skin-care-footer-area pt-100 d-none"
    [ngClass]="{'d-block':router.url === '/home' || router.url === '/contact' || router.url === '/service-details-2' || router.url === '/about-us' || router.url === '/index-5' || router.url === '/index-6' || router.url === '/services-4' || router.url === '/services-5'}"
>
    <div *transloco="let t; read:'footer'" class="container">
        <div *transloco="let n; read:'navigation'" class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h2>
                        <a routerLink="/home">
                            <img src="../../../../assets/images/inopro/footer/inopro_white_footer.png" alt="Logo">
                        </a>
                    </h2>
                    <p>
                        {{t("description")}}
                    </p>
                    <ul class="info-list">
                        <li><i class='bx bx-map' style='color:#005cb9'></i>   Cowansville, Québec, Canada</li>
                        <li><i class='bx bx-phone-call' style='color:#005cb9'></i><a href="tel:5147925440">   514-792-5440</a></li>
                        <li><i class='bx bx-mail-send' style='color:#005cb9'></i><a href="mailto:hello&#64;inba.com"> info&#64;inopro.ca</a></li>
                    </ul>
                    <ul class="share-link">
                        <li>
                            <a href="https://www.facebook.com/produitsinopro" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/inopro-inc-/?originalSubdomain=ca" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/inopro/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h3>{{ t("offre") }}</h3>
                    <ul class="quick-links">
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/service-details-2">{{ n("products") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h3>{{ t("information") }}</h3>
                    <ul class="quick-links">
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/about-us">{{ n("about") }}</a>
                        </li>
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/contact">{{ n("contact") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-sm-6">
                <div class="skin-care-footer-widget">
                    <h3>{{ t("home") }}</h3>
                    <ul class="quick-links">
                        <li>
                            <i class='bx bxs-chevrons-right'></i>
                            <a routerLink="/home">{{ n("home") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-8 col-sm-12">
                <div
                    class="skin-care-footer-widget"
                    [ngClass]="{'d-none': router.url === '/index-6'}"
                >
                    <h3>{{ t("newsletter") }}</h3>
                    <form class="newsletter-form">
                        <p>{{ t("subscribe") }}</p>
                        <div class="form-group">
                            <label style="color: var(--paragraph-color2)">{{ t("email") }}</label>
                            <input type="email" class="input-newsletter" name="email" required autocomplete="off">
                            <button type="submit"><i class='bx bx-send'></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="skin-care-copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>{{ t("rights") }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>

