.dental-tourism-banner-area {
    z-index: 1;
    position: relative;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    padding: {
        top: 120px;
        bottom: 120px;
    };
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        opacity: 0.8;
        display: none;
        position: absolute;
        background-color: var(--white-color);
    }
    .container-fluid {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
}
.dental-tourism-banner-content {
    max-width: 810px;

    .sub-title {
        display: block;
        margin-bottom: 15px;
        color: var(--main-color2);
        font: {
            size: 17px;
            weight: 600;
            family: var(--font-family3);
        };
    }
    h1 {
        color: var(--black-color2);
        margin-bottom: 12px;
        font: {
            size: 80px;
            family: var(--font-family2);
        };
    }
    p {
        color: var(--paragraph-color2);
    }
    .default-btn {
        margin-top: 15px;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .dental-tourism-banner-area {
        padding: {
            top: 60px;
            bottom: 60px;
        };
        &::before {
            display: block;
        }
        .container-fluid {
            padding: {
                left: var(--bs-gutter-x,.75rem);
                right: var(--bs-gutter-x,.75rem);
            };
        }
    }
    .dental-tourism-banner-content {
        max-width: 100%;
    
        .sub-title {
            font-size: 14px;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .default-btn {
            margin-top: 0;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .dental-tourism-banner-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .dental-tourism-banner-area {
        padding: {
            top: 80px;
            bottom: 80px;
        };
        &::before {
            display: block;
        }
        .container-fluid {
            max-width: 720px;
            padding: {
                left: var(--bs-gutter-x,.75rem);
                right: var(--bs-gutter-x,.75rem);
            };
        }
    }
    .dental-tourism-banner-content {
        max-width: 600px;
    
        .sub-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 40px;
            margin-bottom: 8px;
        }
        .default-btn {
            margin-top: 0;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .dental-tourism-banner-area {
        padding: {
            top: 100px;
            bottom: 100px;
        };
        .container-fluid {
            max-width: 960px;
            padding: {
                left: var(--bs-gutter-x,.75rem);
                right: var(--bs-gutter-x,.75rem);
            };
        }
    }
    .dental-tourism-banner-content {
        max-width: 595px;
    
        .sub-title {
            font-size: 16px;
            margin-bottom: 10px;
        }
        h1 {
            margin-bottom: 10px;
            font-size: 60px;
        }
        p {
            max-width: 520px;
        }
        .default-btn {
            margin-top: 5px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .dental-tourism-banner-area {
        padding: {
            top: 150px;
            bottom: 150px;
        };
        .container-fluid {
            max-width: 1920px;
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

}