<div
    class="dental-tourism-banner-area"
    style="background-image: url(assets/images/dental-tourism/banner/banner-bg.jpg);"
>
    <div class="container-fluid">
        <div class="dental-tourism-banner-content">
            <span class="sub-title">
                # Professional
            </span>
            <h1>Dental Tourism Help From Our Dentists</h1>
            <p>Mauris blandit aliquet elit eget tincidunt nibh pulvinar. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Pellentesque in ipsum id orci porta dapibus.</p>
            <a routerLink="/services" class="default-btn two">View Our Services</a>
        </div>
    </div>
</div>