<!-- Default Why Choose Us Section -->
<div
    class="dental-tourism-choose-area ptb-100 bg-f5f5f5"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-choose-image">
                    <img src="assets/images/dental-tourism/choose/choose.png" alt="choose-image">
                    <button class="video-btn" (click)="openPopup()">
                        <i class='bx bx-play'></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-choose-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        Choose Us
                    </span>
                    <h2>Why choose us</h2>
                    <p>
                        Choose Inopro Group for a better quality of life. We offer specialized sterile waters for pharmaceutical, medical, and cosmetic needs, available in pharmacies and recommended by health experts.</p>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>Leader</h4>
                        <p>The Inopro group is established as a leader in the commercialisation of sterile specialised waters.</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>Distribution</h4>
                        <p>Has a wide international distribution network.</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>Quality products</h4>
                        <p>Sets itself apart by its unmatched quality standards in the market.</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>Service</h4>
                        <p>Makes the difference through its personalised and impeccable customer service.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <iframe src="https://www.youtube.com/embed/XNQk1qt__Vw" title="Setup and Local Installation - React Nextjs Online Yoga Coaching &amp; Training Courses System" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class='bx bx-x'></i>
        </button>
    </div>
</div>
