<!-- Default Why Choose Us Section -->
<div
    class="dental-tourism-choose-area ptb-100 bg-f5f5f5"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
    <div *transloco="let t; read:'chooseUsComponent'" class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-choose-image">
                    <img src="assets/images/dental-tourism/choose/choose.png" alt="choose-image">
                    <button class="video-btn" (click)="openPopup()">
                        <i class='bx bx-play'></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="dental-tourism-choose-content">
                    <span class="sub-title">
                        <i class="flaticon-198-hashtag-1"></i>
                        {{t("pill")}}
                    </span>
                    <h2>{{t("title")}}</h2>
                    <p>
                        {{t("description")}}</p>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>{{t("leader.title")}}</h4>
                        <p>{{t("leader.description")}}</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>{{t("distribution.title")}}</h4>
                        <p>{{t("distribution.description")}}</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>{{t("products.title")}}</h4>
                        <p>{{t("products.description")}}</p>
                    </div>
                    <div class="choose-inner-content">
                        <i class='bx bxs-badge-check'></i>
                        <h4>{{t("service.title")}}</h4>
                        <p>{{t("service.description")}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <iframe src="https://www.youtube.com/embed/XNQk1qt__Vw" title="Setup and Local Installation - React Nextjs Online Yoga Coaching &amp; Training Courses System" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class='bx bx-x'></i>
        </button>
    </div>
</div>
