<!-- Page Banner -->
<div
    class="page-banner-area ptb-100 four"
    style="background-image: url(assets/images/page-title/page-title2.jpg);"
>
    <div class="container">
        <div class="page-banner-content">
            <h2>The Inba Short Story</h2>
            <ul class="pages-list">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<app-features></app-features>

<app-about></app-about>

<app-appointment></app-appointment>

<app-why-choose-us></app-why-choose-us>

<app-feedback></app-feedback>

<app-dentists></app-dentists>